<form [formGroup]="formGroup">
    <div class="title">{{ 'PasswordForgottenInfo' | language: settings.Lang }}</div>
    <mat-form-field color="accent">
        <input matInput [formControlName]="'name'" [placeholder]="'Name' | language: settings.Lang" />
    </mat-form-field>
    <mat-form-field color="accent">
        <input matInput type="email" [formControlName]="'email'" [placeholder]="'EmailAddress' | language: settings.Lang" />
    </mat-form-field>
    <button type="submit" class="add-button" mat-raised-button [disabled]="errorService.hasError() || isLoading" (click)="resetPassword()">
        <span [matTooltip]="errorService.errorMessage">{{ 'RequestNewPassword' | language: settings.Lang }}</span>
    </button>
</form>
