ol {
    margin-left: -10px;
}

mat-sidenav-container {
    top: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    color: white;
    width: 100%;
    height: auto;
}

mat-sidenav {
    display: inline-block; 
    height: auto;
    background: var(--secondary-color-gradient-dark);
}

mat-nav-list>a {
    color: white;
}

mat-sidenav-content {
    left: 3px;
    width: auto;
}
