@import '../../../char-creator.component.scss';
@include char-creator-content;

/*.mat-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

    ::ng-deep .mat-list-item-content {
        width: 100%;
        justify-content: space-between;
    }

    span {
        height: 100%;
        display: inline-flex;
        align-items: center;
    }

    .slider-in-row {
        white-space: nowrap;

        > :first-child {
            margin-right: 10px;
        }

        > :last-child {
            margin-left: 10px;
        }
    }

    button {
        width: 100%;
    }
}

.margin-fake {
    min-width: 10px !important;
    height: 100%;
}*/
