<mat-list>
    <mat-list-item>
        <span>Drawable Id:</span>
        <div class="margin-fake"></div>
        <div class="item">
            <mat-form-field color="accent">
                <input matInput type="number" min="0" [max]="drawableAmount - 1" [ngModel]="drawableId" (ngModelChange)="drawableIdChanged($event)" />
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <span>Texture Id:</span>
        <div class="margin-fake"></div>
        <mat-form-field color="accent">
            <input matInput type="number" min="-1" [max]="textureAmount - 1" [ngModel]="textureId" (ngModelChange)="textureIdChanged($event)" />
        </mat-form-field>
        <button mat-icon-button (click)="textureId = -1">
            <mat-icon color="accent">delete_outline</mat-icon>
        </button>
    </mat-list-item>
    <button class="revert-button button" mat-list-item (click)="revert()">
        {{ 'Revert' | language: settings.Lang }}
    </button>
</mat-list>
