.container {
    position: absolute;
    left: 37.5vw;
    top: 30vh;
    width: 25vw;
    height: 40vh;
    overflow-y: hidden;
    
    .mat-toolbar {
        height: 10%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }


    .container-content {
        height: 90%;
        overflow-y: auto;
    }
}

