<div class="container mat-elevation-z8 mat-app-background" cdkDrag>
    <mat-toolbar color="primary" cdkDragHandle>
        <button mat-button [matMenuTriggerFor]="userpanelNav" cdkFocusInitial>{{ currentNav | language: settings.Lang }}</button>
        <button mat-button (click)="closeUserpanel()"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <div class="container-content">
        <app-userpanel-commands *ngIf="currentNav.startsWith('Commands')" 
            [(currentCommand)]="currentCommand"
            [currentNav]="currentNav" >
        </app-userpanel-commands>
        <app-userpanel-rules *ngIf="currentNav.startsWith('Rules')" 
            [currentNav]="currentNav" >
        </app-userpanel-rules>
        <div *ngIf="currentNav == userpanelNavPage[userpanelNavPage.Main]" 
            [innerHTML]="langPipe.transform('UserpanelInfo', settings.Lang)">
        </div>
    </div>
</div>

<mat-menu #userpanelNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Main)">{{ userpanelNavPage[userpanelNavPage.Main] | language: settings.Lang }}</button>
    <button mat-menu-item [matMenuTriggerFor]="rulesNav">
        <mat-icon>assignment</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Rules] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Settings)" disabled>
        <mat-icon>settings</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Settings] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="commandsNav">
        <mat-icon>speaker_notes</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Commands] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.FAQ)" disabled>
        <mat-icon>help</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.FAQ] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Reports)" disabled>
        <mat-icon>question_answer</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Reports] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #commandsNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsUser)">
        <mat-icon>group</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsTDSTeam)">
        <mat-icon>pan_tool</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsTDSTeam] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsVIP)">
        <mat-icon>group_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsVIP] | language: settings.Lang }}</span>
    </button>
    <!--<button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsDonator)">
        <mat-icon>monetization_on</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsDonator] | language: settings.Lang }}</span>
    </button>-->
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsLobbyOwner)">
        <mat-icon>how_to_reg</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsLobbyOwner] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #rulesNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesUser)">
        <mat-icon>group</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesTDSTeam)">
        <mat-icon>pan_tool</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesTDSTeam] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesVIP)">
        <mat-icon>group_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesVIP] | language: settings.Lang }}</span>
    </button>
</mat-menu>