@use '../../styles/table-style.scss';

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom-row {
        margin-top: 20px;
        display: flex;

        button {
            flex-grow: 1;

            &:not(:first-child) {
                margin-left: 5%;
            }
        }
    }
}
