.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1%;
  right: 1%;
  height: auto;
  max-height: 60%;
  width: 20%;
  opacity: 0.95;
  overflow-y: auto;
}

.objects-container {
  top: 1%;
  left: 1%;
  width: 20%;
  height: 98%;
}

#container-content {
  padding: 20px;
  height: auto;
  overflow: hidden;
}

textarea {
  max-height: 50%;
  overflow-y: auto;
}

.positions-div {
  height: 70vh;

  .mat-table-objects-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 55% !important;
  }

  .mat-table-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: auto !important;
  }

 .mat-table-container {
    max-height: 65%;
  }

  #team-spawns-top-row + .mat-table-container {
    max-height: 55%;
  }

  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    background: transparent;
  }
}

.positions-div.bomb-places-div {
  height: 30vh;

  .mat-table-container {
    max-height: 70%;
  }
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-header-row {
  min-height: 20px !important;
  height: 4px !important;
  line-height: 4px !important;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  // border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.two-per-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;

  .two-per-row-div {
    width: 45% !important;
    margin-bottom: 15px;
  }

  .two-per-row-div:last-child {
    margin-bottom: 0px;
  }

  .two-per-row-div:nth-last-child(2) {
    margin-bottom: 0px;
  }
}

#main-content {
  width: 100%;
  height: 100%;

  .mat-form-field {
    width: 100%;
  }
}

#team-spawns-top-row {
  width: 100%;
  overflow: hidden;

  .mat-form-field {
    width: 60%;
    float: left;
  }

  .mat-raised-button {
    float: right;
  }

}

#description-content {

  .mat-form-field {
    width: 100%;
  }
}

.positions-bottom-row {
  position: absolute;
  vertical-align: bottom;
  bottom: 20px;
  width: 90%;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  * {
    flex-grow: 1;
  }
}

.main-bottom-buttons-row {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    flex-basis: 30%;
  }
}

.main-bottom-buttons-row:nth-of-type(2) {
  margin-top: 30px;
}

#map-center-div {
  height: 27vh;

  #map-center-info {
    float: left;
    margin-right: 2.5%;
    width: 42.5%;
  }

  #map-center-positions-container {
    height: 100%;
    float: right;
    margin-left: 2.5%;
    width: 42.5%;

    .mat-form-field {
      width: 100%;
    }
  }
}

#mapsettings-content {

  .mat-form-field {
    width: 100%;
  }
}

.mat-form-field-with-hint {
  margin-bottom: 20px;
}
