#language-button-container {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 80px;

  .language-button {
    position: relative;
    float: right;
    margin-left: 15px;
    width: 80px;
    height: 100%;
    background-size: 100% !important;
    border: 0;
    opacity: 0.95;
  }
}

.carousel {
    position: absolute;
    width: 100%;
    bottom: 10%;
    height: 20%;
}

.announcements {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 20%;
    right: 5px;
    top: 100px;
    height: auto;
    max-height: calc(65% - 100px);
    overflow-y: hidden;

    .mat-toolbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .announcements-content {
        padding: 10px;
        height: 100%;
        overflow-y: auto;

        .announcement {
            margin-bottom: 20px;

            .date {
                font-weight: bold;
                text-decoration: underline;
            }
        }

        .announcement:last-of-type {
            margin-bottom: 0;
        }
    }
}
