<app-main-menu *ngIf="!settings.InUserLobbiesMenu" [showRegisterLogin]="showRegisterLogin" (lobbyJoin)="joinLobby($event)"></app-main-menu>
<app-custom-lobby *ngIf="settings.InUserLobbiesMenu"></app-custom-lobby>

<!--<ng-container *ngIf="!settings.InUserLobbiesMenu">
    <div id="language-button-container">
        <button mat-icon-button class="language-button mat-elevation-z8" (click)="setLanguage(7)"
            [style.background]="getImageUrl('assets/german.png')"></button>
        <button mat-icon-button class="language-button mat-elevation-z8" (click)="setLanguage(9)"
            [style.background]="getImageUrl('assets/english.png')"></button>
    </div>

    <div class="container mat-elevation-z8 mat-app-background announcements" cdkDrag>
        <mat-toolbar color="primary" cdkDragHandle>
            {{ 'Announcements' | language: settings.Lang }}
        </mat-toolbar>
        <div class="announcements-content">

        </div>
    </div>



    <carousel class="carousel" [buttons]="lobbyChoices"></carousel>
</ng-container>

<app-custom-lobby *ngIf="settings.InUserLobbiesMenu"></app-custom-lobby>-->
