<mat-form-field color="accent">
    <mat-label>
        {{ setting.label | language: settingsService.Lang }}
    </mat-label>
    <mat-select 
    [formControl]="setting.formControl" 
    [matTooltipDisabled]="!setting.tooltipLangKey"
    [matTooltip]="setting.tooltipLangKey | language: settingsService.Lang"
    (selectionChange)="setting.onValueChanged && setting.onValueChanged(setting); changed.emit(null)">
        <mat-option *ngFor="let enumStr of setting.enumKeys"
        [value]="setting.enumType[enumStr]">
            {{ enumStr | language: settingsService.Lang }}
        </mat-option>
    </mat-select>
</mat-form-field>