<div id="main-suggestions" *ngIf="inSuggestion === undefined && !inCreate">
    <table id="main-suggestions-table" class="window-field">
        <thead>
            <tr>
                <th (click)="sortID()" class="not-selectable">ID</th>
                <th (click)="sortTitle()" class="not-selectable">{{ language.title }}</th>
                <th (click)="sortTopic()" class="not-selectable">{{ language.type }}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entry of rowDatas; let i = index;">
                <tr *ngIf="shownBadges[entry.Topic]" (click)="selectRow($event, i);" >
                    <td>{{ entry.ID }}</td>
                    <td>{{ entry.Title }}</td>
                    <td>{{ language[entry.Topic] }}</td>
                </tr> 
            </ng-container>   
        </tbody>
    </table>
    <div id="main-buttons">
        <button id="main-create" mat-button *ngIf="selectedRowIndex === undefined" (click)="switchToCreation()">{{ language.create }}</button>
        <button id="main-view" mat-button *ngIf="selectedRowIndex !== undefined" (click)="switchToSuggestion()">{{ language.view }}</button>
        <button id="main-open" mat-button *ngIf="selectedRowIndex !== undefined && rowDatas[selectedRowIndex].Open == false" (click)="toggleRowState()">{{ language.open }}</button>
        <button id="main-close" mat-button *ngIf="selectedRowIndex !== undefined && rowDatas[selectedRowIndex].Open == true" (click)="toggleRowState()">{{ language.close }}</button> 
        <mat-form-field id="suggestions_show_state">
            <mat-select [(value)]="selectedState" (selectionChange)="onStateSelectionChange()" [disabled]="loadingSuggestions">
                <mat-option *ngFor="let state of stateNames" [value]="state">{{ language[state] }}</mat-option>   
            </mat-select>
        </mat-form-field>
        <mat-chip-list id="suggestions_show_badge" class="mat-chip-list-stacked" multiple>
            <mat-chip *ngFor="let badge of badgeNames" [id]="'show-'+badge+'-chip'" [selected]="shownBadges[badge]" (click)="onSuggestionsShowBadgeChange( badge )">{{ language[badge] }}</mat-chip>
        </mat-chip-list>
        <button id="main-remove" mat-button *ngIf="selectedRowIndex !== undefined && myAdminlvl >= neededAdminlvls.removeSuggestion" (click)="removeSuggestion()">{{ language.remove }}</button>
    </div>
</div>

<div id="suggestion-view" *ngIf="inSuggestion !== undefined && !inCreate">
    <div class="chat-header clearfix">
        <div class="chat-about">
            <div class="chat-with">{{ rowDatas[inSuggestion].Title }}</div>
            <div class="chat-num-messages">
                {{ rowDatas[inSuggestion].Author }} - {{ getVotes(true) }}|{{ getVotes(false) }} 
                <div class="float-right">
                    <button mat-icon-button [ngClass]="myVote == true ? 'vote-for-thumb' : 'vote-neither-thumb'" (click)="toggleVote(true);"><mat-icon svgIcon="thumb-up"></mat-icon></button>
                    <button mat-icon-button [ngClass]="myVote == false ? 'vote-against-thumb' : 'vote-neither-thumb'" (click)="toggleVote(false);"><mat-icon svgIcon="thumb-down"></mat-icon></button>
                </div>
            </div>
        </div>
    </div> <!-- end chat-header -->
    <div class="chat-history">
        <ul> 
            <li>
                <div class="message-data">
                    <span class="message-data-name" >{{ rowDataTexts[inSuggestionID][0].Author }}</span> 
                    <span class="message-data-time" >{{ rowDataTexts[inSuggestionID][0].Date }}</span> &nbsp; &nbsp;         
                </div>
                <div class="message my-message vote-for">{{ rowDataTexts[inSuggestionID][0].Text }}</div>
            </li>
            <div *ngFor="let textentry of rowDataTexts[inSuggestionID]; let i = index">
                <li class="clearfix" *ngIf="i != 0 && textentry.Author !== rowDataTexts[inSuggestionID][0].Author" >
                    <div class="message-data align-right">
                        <span class="message-data-time" >{{ rowDataTexts[inSuggestionID][i].Date }}</span> &nbsp; &nbsp;
                        <span class="message-data-name" >{{ rowDataTexts[inSuggestionID][i].Author }}</span>            
                    </div>
                    <div [ngSwitch]="suggestionVotes[inSuggestionID][rowDataTexts[inSuggestionID][i].Author]">
                        <div *ngSwitchCase="1" class="message other-message float-right vote-for">{{ rowDataTexts[inSuggestionID][i].Text }}</div>
                        <div *ngSwitchCase="0" class="message other-message float-right vote-against">{{ rowDataTexts[inSuggestionID][i].Text }}</div>
                        <div *ngSwitchDefault class="message other-message float-right vote-neither">{{ rowDataTexts[inSuggestionID][i].Text }}</div>
                    </div>
                </li>
                <li *ngIf="i != 0 && textentry.Author === rowDataTexts[inSuggestionID][0].Author">
                    <div class="message-data">
                        <span class="message-data-name">{{ rowDataTexts[inSuggestionID][i].Author }}</span>
                        <span class="message-data-time">{{ rowDataTexts[inSuggestionID][i].Date }}</span>
                    </div>
                    <div [ngSwitch]="suggestionVotes[inSuggestionID][rowDataTexts[inSuggestionID][i].Author]">
                        <div *ngSwitchCase="1" class="message my-message vote-for">{{ rowDataTexts[inSuggestionID][i].Text }}</div>
                        <div *ngSwitchCase="0" class="message my-message vote-against">{{ rowDataTexts[inSuggestionID][i].Text }}</div>
                        <div *ngSwitchDefault class="message my-message vote-neither">{{ rowDataTexts[inSuggestionID][i].Text }}</div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <mat-form-field id="suggestion-view-interaction" [color]="formOptions.value.color">
        <textarea matInput #suggestionTextArea required rows="3" id="suggestion-view-text-textarea" [placeholder]="language.answer"></textarea>
        <mat-hint align="end">{{suggestionTextArea.value?.length || 0}}/250</mat-hint>
        <button id="suggestion-view-text-send" mat-button (click)="sendSuggestionAnswer()">{{ language.send }}</button>
    </mat-form-field>
</div>

<div *ngIf="inCreate">
    <div id="suggestion_creation_left_side">
        <mat-form-field [color]="formOptions.value.color">
            <input matInput #titleInput required placeholder="Title">
            <mat-hint align="end">{{titleInput.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
        <mat-form-field id="create_textarea" [color]="formOptions.value.color">
            <textarea matInput #textArea required rows="9" placeholder="Text"></textarea>
            <mat-hint align="end">{{textArea.value?.length || 0}}/250</mat-hint>
        </mat-form-field>
    </div>
    <div id="suggestion_creation_right_side">
        <mat-chip-list #suggestionBadgeList class="mat-chip-list-stacked">
            <mat-chip *ngFor="let badge of badgeNames" [id]="badge+'-chip'" [selected]="selectedBadge == badge" (click)="selectedBadge = badge">{{ language[badge] }}</mat-chip>
        </mat-chip-list>
        <button id="creation-send" mat-button (click)="createSuggestion()">Send</button>    
    </div>
</div>
