#main-suggestions-table {
    display: inline-block;
    width: 75%;
    overflow-x: hidden;
    flex-grow: 1;
    border-collapse: collapse; 
}

#main-suggestions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

th {
    background-color: var(--primary-color);     
}

td, th:not(#suggestion-view-texts) {
    border: 1px solid #000000;
    padding: 5px;
}

tbody>tr:hover, tbody>tr[selected] {
    background: var(--secondary-color);
}

td:last-child {
    max-width: 5%;
    text-align: center;
}

#main-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 76%;
    width: 23%;
    top: 4%;
    bottom: 4%;
}

#main-create {
    background-color: var(--create-color);
    box-shadow: 4px 4px 10px black;
}

#main-view {
    background-color: var(--view-color);
    box-shadow: 4px 4px 10px black;
}

#main-open {
    margin-top: 20%;
    background-color: var(--open-color);
    box-shadow: 4px 4px 10px black;
}

#main-close {
    margin-top: 20%;
    background-color: var(--close-color);
    box-shadow: 4px 4px 10px black;
}

#main-remove {
    margin-top: auto;
    background-color: var(--remove-color);
    box-shadow: 4px 4px 10px black;
}

#suggestion_creation_left_side {
    width: 64%;
    height: 90%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#suggestion_creation_right_side {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 66%;
    width: 32%;
    top: 4%;
    bottom: 4%;
}

mat-chip-list {
    width: 90%;
    text-align: center;
}

#suggestion_creation_left_side > * {
    width: 100%;
    float: left;
}

#create_textarea {
    height: 90%;
}

#creation-send {
    background: var(--create-color);
    box-shadow: 4px 4px 10px black;
    margin-top: auto;
}

#selected_owner {
    background: var(--owner);
}

#selected_projectmanager {
    background: var(--projectmanager);    
}

#selected_administrator {
    background: var(--administrator);    
}

#selected_supporter {
    background: var(--supporter);    
}

#suggestion-view {
    height: 100%;
}

#suggestion-view-interaction {
    left: 5px;
    right: 10px; 
    display: inline;
}

#suggestion-view-text-textarea {
    width: calc( 75% - 10px ); 
}

#suggestion-view-text-send {
    background: var(--create-color);
    margin-left: 5px;
    width: calc( 25% - 10px ); 
}

#suggestion-chip.mat-chip-selected {
    background-color: darkgreen;
}

#bug-chip.mat-chip-selected {
    background-color: red;
}

#show-suggestion-chip.mat-chip-selected {
    background-color: darkgreen;
}

#show-bug-chip.mat-chip-selected {
    background-color: red;
}

#suggestions_show_state {
    margin-top: 10%;
    width: 85%;
}

#suggestions_show_badge {
    margin-top: 5%;
}

.chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat-num-messages {
    color: wheat;
}

.chat-history {
    padding: 10px 10px 10px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    max-height: 50%;
}

.chat-history > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: lighten(gray, 8%);
    padding-left: 6px;
}

.message {      
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px;
}

.vote-for {
    background: rgba(0, 128, 0, 0.637);
}

.vote-for:after {
    border-bottom-color: rgba(0, 128, 0, 0.637);
}

.vote-against {
    background: rgba(216, 19, 19, 0.637);
}

.vote-against:after {
    border-bottom-color: rgba(216, 19, 19, 0.637);
}

.vote-neither {
    background: rgba(128, 128, 128, 0.637);
}

.vote-neither:after {
    border-bottom-color: rgba(128, 128, 128, 0.637);
}

.other-message:after {
    left: 93%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.vote-for-thumb {
    background-color: darkgreen; 
}

.vote-against-thumb {
    background-color: darkred;
}

.vote-neither-thumb {
    background-color: grey;
}