*.ide
*.suo
/.vs/
TDS/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
TDS/obj/Debug/build.force
*.cache
TDS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.nupkg
TDS/packages/grandtheftmultiplayer.api.0.1.513.481/lib/net452/GrandTheftMultiplayer.Server.exe
*.dll
TDS/packages/MySql.Data.6.9.9/CHANGES
*.transform
TDS/packages/MySql.Data.6.9.9/Readme.txt
TDS/packages/NLog.4.4.9/lib/MonoAndroid10/NLog.xml
TDS/packages/NLog.4.4.9/lib/net35/NLog.xml
TDS/packages/NLog.4.4.9/lib/net40/NLog.xml
TDS/packages/NLog.4.4.9/lib/sl5/NLog.xml
/TDS/obj/Debug
/TDS/obj/Debug/TDS.csproj.FileListAbsolute.txt
/TDS/bin/Debug/GrandTheftMultiplayer.Server.exe
*.exe
*.pdb
TDS.csproj.FileListAbsolute.txt
TDS/server/manager/database/DatabaseManager.cs

