<root>
  <ConnectionString Value="Host=postgres;Database=database;Username=user;Password=password;Timeout=100;Command Timeout=100" />
  <GitHubToken Value="githubtoken" />
  <Logging>
    <File Level="Warning" Path="/ragemp-server-data/database_warnings.txt" />
    <File Level="Error" Path="/ragemp-server-data/database_errors.txt" />
    <File Level="Critical" Path="/ragemp-server-data/database_criticals.txt" />
  </Logging>
</root>