<div id="container">
    <div id="settings-expansion-panel-container">
        <mat-accordion multi="false">
            <mat-expansion-panel *ngFor="let panel of rankPermissions">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ panel.title | language: settings.Lang }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let setting of panel.rows">

                    <div class="setting-row">
                        <span>{{ setting.text | language: settings.Lang }}:</span>
                        <div class="placeholder"></div>
                        <mat-form-field color="accent">
                            <mat-select [(ngModel)]="setting.value" (blur)="changeDetector.detectChanges()"
                            [style.background]="getColor(gangWindowService.ranks[setting.value][1])"
                            [disabled]="!canEdit">
                                <mat-option *ngFor="let rank of gangWindowService.ranks; let i = index" [style.background]="getColor(rank[1])"
                                    [value]="i">
                                    {{ rank[0] | language: settings.Lang }}
                                </mat-option>
                            </mat-select>
                            <mat-hint>{{ setting.hint | language: settings.Lang }}</mat-hint>
                        </mat-form-field>
                    </div>

                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div id="last-row-buttons">
        <button mat-raised-button (click)="save()" class="save-button" *ngIf="canEdit">
            {{ 'Save' | language: settings.Lang }}
        </button>
    </div>
</div>
