#main-report-table {
    display: inline-block;
    width: 75%;
    overflow-x: hidden;
    flex-grow: 1;
    border-collapse: collapse; 
}

#main-report {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

th {
    background-color: var(--primary-color);     
}

td, th:not(#report-view-texts) {
    border: 1px solid #000000;
    padding: 5px;
}

tbody>tr:hover, tbody>tr[selected] {
    background: var(--secondary-color);
}

td:last-child {
    max-width: 5%;
    text-align: center;
}

#main-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 76%;
    width: 23%;
    top: 4%;
    bottom: 4%;
}

#main-create {
    background-color: var(--create-color);
    box-shadow: 4px 4px 10px black;
}

#main-view {
    background-color: var(--view-color);
    box-shadow: 4px 4px 10px black;
}

#main-open {
    margin-top: 20%;
    background-color: var(--open-color);
    box-shadow: 4px 4px 10px black;
}

#main-close {
    margin-top: 20%;
    background-color: var(--close-color);
    box-shadow: 4px 4px 10px black;
}

#main-remove {
    margin-top: auto;
    background-color: var(--remove-color);
    box-shadow: 4px 4px 10px black;
}

#report_creation_left_side {
    width: 64%;
    height: 90%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#report_creation_right_side {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 66%;
    width: 32%;
    top: 4%;
    bottom: 4%;
}

#report_creation_left_side > * {
    width: 100%;
    float: left;
}

#create_textarea {
    height: 90%;
}

#creation-send {
    background: var(--create-color);
    box-shadow: 4px 4px 10px black;
    margin-top: auto;
}

#for_teammember {
    flex-grow: 0;
}

#for_teammember > *:not(:first-child) {
    border-collapse: collapse;   
}

#selected_owner {
    background: var(--owner);
}

#selected_projectmanager {
    background: var(--projectmanager);    
}

#selected_administrator {
    background: var(--administrator);    
}

#selected_supporter {
    background: var(--supporter);    
}

.report-view-texts-container {
    border: 2px solid var(--primary-color);
    background: var(--secondary-color-gradient);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px 0;
    margin-left: 5px;   
}

.report-view-texts-container-darker {
    background: var(--secondary-color-gradient-darker);
    border-color: #ccc;   
}

.report-view-texts-author-1 {
    float: left;
    color: #aaa;
    margin-right: 20px;
    border-radius: 50%;
}

.report-view-texts-author-2 {
    float: right;
    color: #999;
    margin-left: 20px;
    margin-right:0;
}

.report-view-texts-date-1 {
    float: right;
    color: #aaa;
    font-size: 0.8em;
}

.report-view-texts-date-2 {
    float: left;
    color: #999;
    font-size: 0.8em;
}

#report-view-interaction {
    left: 5px;
    right: 10px; 
    display: inline;
}

#report-view-text-textarea {
    width: calc( 75% - 10px ); 
}

#report-view-text-send {
    background: var(--create-color);
    margin-left: 5px;
    width: calc( 25% - 10px ); 
}



