.container.design1 {
    width: auto;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    .container-content {
        width: auto;
        overflow-y: auto;
        padding: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .loading-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes glowing {
    0% { box-shadow: 0 0 2px white; }
    50% { box-shadow: 0 0 20px white; }
    100% { box-shadow: 0 0 2px white; }
  }
