.container.design1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .container-content {
        overflow-y: auto;
        padding: 10px;
        flex-grow: 1;

        .loading-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes glowing {
    0% { box-shadow: 0 0 2px white; }
    50% { box-shadow: 0 0 20px white; }
    100% { box-shadow: 0 0 2px white; }
  }
