<mat-action-list *ngIf="!applicationData">
    <button mat-list-item style="text-align: left;"
    *ngFor="let application of userpanelService.applications"
    (click)="requestApplicationData(application.ID)">
        <span>{{ application.PlayerName }}</span>
        <span style="position: absolute; right: 0px;">{{ application.CreateTime }}</span>
    </button>
</mat-action-list>


<div *ngIf="applicationData">
    <mat-accordion multi="false">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'Player' | language: settings.Lang }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ 'ApplicationStatsInfo' | language: settings.Lang }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-userpanel-stats
                [stats]="applicationData.Stats"
                [columns]="applicationStatsColumns">
            </app-userpanel-stats>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'Answers' | language: settings.Lang }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ 'ApplicationAnswersInfo' | language: settings.Lang }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-userpanel-admin-questions
                [questions]="applicationData.Questions"
                [answers]="applicationData.Answers"
                [disabled]="true">
            </app-userpanel-admin-questions>
        </mat-expansion-panel>
    </mat-accordion>
</div>
