@font-face {
    font-family: Roboto;
    src: url(../../../../assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../../../../assets/font/Roboto-Thin.ttf);
}

::ng-deep #chat_container {
    float: left;
    position: absolute;
    height: auto;
    outline: none;

    #chat_info {
        &.marquee {
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
        }
        &.marquee * {
            display: inline-block;
            padding-left: 100%;
        }
    }

    #chat_div {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        font-family: Roboto, Arial;
        user-select: none;

        #chat-body {
            flex-grow: 1;
            overflow-y: scroll;
            padding-left: 10px;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            white-space: pre-line;
            outline: none;

            div {
                user-select: all;
            }
        }

        #dirty-chat-body {
            display: none;
        }

        .chat-body div {
            float: left;
            clear: both;
            white-space: pre-line;
            min-height: 20px;
            top: 0px;
            line-height: 1.1em;
            user-select: none;
        }

        #chat_choice {
            width: 100%;
            text-align: center;
            font-size: 0.9em;
            color: white;
            margin-top: 1vh;
            overflow: hidden;
            flex-shrink: 0;
            display: flex;
            flex-direction: row;

            * {
                position: relative;
                transition: background 0.4s linear;
                padding: 2px 5px;
            }

            *:not(:last-child) {
                margin-right: 2px;
            }
        }
    }

    #chat_div *::-webkit-scrollbar {
        width: 0px; /* remove scrollbar space */
        background: transparent; /* optional: just make scrollbar invisible */
    }

    ::ng-deep .mat-form-field {
        width: 100%;

        #main-input {
            background-color: transparent;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            border: none;
            font-size: 1.2em;
        }
    }


}


