<div id="chat_container" [style.width]="settings.ChatWidth" [style.display]="chatActive ? 'initial' : 'none'" tabindex="-1">
    <div id="chat_div" [style.max-height]="settings.ChatMaxHeight">
        <div id="chat-body" #chatBody (scroll)="scrolled($event)" [style.font-size]="settings.ChatFontSize">
            <div *ngFor="let msg of chatBodies[selectedChatBody].messages" [innerHTML]="msg"></div>
        </div>
        <div id="chat_choice">
            <ng-container *ngFor="let body of chatBodies; let i = index">
                <div *ngIf="body.name != 'Dirty' || !settings.ChatHideDirtyChat"
                (click)="selectChatBody(i)"
                [style.background-color]="selectedChatBody == i ? '#04074e' : '#A9A9A9'">
                    {{ body.name | language: settings.Lang }}
                </div>
            </ng-container>
        </div>
    </div>
    <mat-form-field [style.display]="settings.ChatInputOpen ? 'block' : 'none'">
        <input matInput floatLabel="never" id="main-input"
        autofocus (blur)="removeInputFocus()"
        [mention]="mentionConfig.items"
        [mentionConfig]="mentionConfig"/>
    </mat-form-field>
</div>
