#container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .mat-expansion-panel  {
      background-color: transparent;
    }

    #settings-expansion-panel-container {
      flex-grow: 1;
      overflow-y: auto;
    }

    #last-row-buttons {
        vertical-align: bottom;
        display: flex;
        flex-direction: row;

        button {
            margin-top: 15px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 4vh;
            margin-bottom: 15px;
          }
    }

    .setting-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        * {
            flex-grow: 1;
        }

        ::ng-deep .mat-checkbox-layout {
            width: 100%;
        }

        ::ng-deep .mat-checkbox-label {
            white-space: normal;
            word-wrap: break-word;
        }

        ::ng-deep .mat-checkbox-inner-container {
            margin-left: auto;
            margin-right: 0;
        }

        ::ng-deep .mat-slide-toggle-bar {
            margin-left: auto;
            margin-right: 0;
        }
    }
}
