<div id="container">
    <div id="settings-expansion-panel-container">
        <mat-accordion multi="false">
            <mat-expansion-panel *ngFor="let panel of settingPanel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ panel.title | language: settings.Lang }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let setting of panel.rows" [ngSwitch]="setting.type">

                    <ng-container *ngSwitchCase="userpanelSettingType.string">
                        <div class="setting-row">
                            <mat-form-field color="accent">
                                <input matInput [formControl]="setting.formControl" (blur)="changeDetector.detectChanges()"
                                [placeholder]="userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang"/>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.number">
                        <div class="setting-row">
                            <mat-form-field color="accent">
                                <input matInput type="number" [formControl]="setting.formControl" (blur)="changeDetector.detectChanges()"
                                [placeholder]="userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang"/>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.numberSlider">
                        <div class="setting-row">
                            <span>{{ userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang }}</span>
                            <mat-slider color="primary" thumbLabel tickInterval="1" step="0.05" [formControl]="setting.formControl" [min]="setting.min" [max]="setting.max"
                            (blur)="changeDetector.detectChanges()" (change)="setting.onValueChanged && setting.onValueChanged()"></mat-slider>
                        </div>
                        <!-- <div *ngSwitchDefault>output2</div> -->
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.enum">
                        <div class="setting-row">
                            <mat-form-field color="accent">
                                <mat-label>{{ userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang }}</mat-label>
                                <mat-select [formControl]="setting.formControl" (blur)="changeDetector.detectChanges()">
                                    <mat-option *ngFor="let enumStr of getEnumKeys(setting.enum)" [value]="setting.enum[enumStr]">
                                        {{ enumStr | language: settings.Lang }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.dateTimeFormatEnum">
                        <div class="setting-row">
                            <mat-form-field color="accent">
                                <mat-label>{{ userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang }}</mat-label>
                                <mat-select [formControl]="setting.formControl" (blur)="changeDetector.detectChanges()">
                                    <mat-option *ngFor="let dateTimeFormat of getEnumKeys(setting.enum)" [value]="setting.enum[dateTimeFormat]">
                                        {{ currentDate | date:dateTimeFormat }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.boolean">
                        <div class="setting-row">
                            <mat-checkbox labelPosition="before" [formControl]="setting.formControl" (blur)="changeDetector.detectChanges()">
                                {{ userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang }}
                            </mat-checkbox>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.booleanSlider">
                        <div class="setting-row">
                            <mat-slide-toggle labelPosition="before" [formControl]="setting.formControl"
                            (blur)="changeDetector.detectChanges()" (change)="setting.onValueChanged && setting.onValueChanged()">
                                {{ userpanelSettingKey[setting.dataSettingIndex] | language: settings.Lang }}
                            </mat-slide-toggle>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="userpanelSettingType.color">
                      <div class="setting-row">
                            <input matInput
                            [(colorPicker)]="setting.formControl.value"
                            [value]="'MapBorder' | language: settings.Lang"
                            [style.background]="setting.formControl.value"
                            [cpFallbackColor]="setting.defaultValue"
                            (colorPickerChange)="onColorChange(setting)"
                            cpOutputFormat="rgba"
                            cpAlphaChannel="always"
                            readonly="true"
                            cpUseRootViewContainer="true"/>
                      </div>
                  </ng-container>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div id="last-row-buttons">
      <button mat-raised-button (click)="save()">
        {{ 'Save' | language: settings.Lang }}
      </button>
      <button mat-raised-button (click)="revertAll()">
        {{ 'Revert' | language: settings.Lang }}
      </button>
      <button mat-raised-button (click)="setDefault()">
        {{ 'Default' | language: settings.Lang }}
      </button>
    </div>
  </div>
