@import '~angular-material-css-vars/main';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

$custom-primary: (
    50 : #e0e0ea,
    100 : #b3b3ca,
    200 : #8080a6,
    300 : #4d4d82,
    400 : #262668,
    500 : #00004d,
    600 : #000046,
    700 : #00003d,
    800 : #000034,
    900 : #000025,
    A100 : #6060ff,
    A200 : #2d2dff,
    A400 : #0000f9,
    A700 : #0000e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: rgba(250, 250, 250, 0.87),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-grey, 900),
  background: rgba(48, 48, 48, 0.87),
  hover:      rgba(white, 0.04),
  card:       map_get($mat-grey, 800),
  dialog:     map_get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dark-primary: mat-palette($custom-primary);
$dark-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dark-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$clight-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
$cdark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin app-theme($theme) {
    // Extract the palettes you need from the theme definition.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    // Define any styles affected by the theme.
    .app-header {
      // Use mat-color to extract individual colors from a palette.
      background-color: mat-color($primary);
      border: medium solid mat-color($accent, A400);
    }
  }

@include init-material-css-vars() {
    @include app-theme($mat-css-theme);
  };

/*@include angular-material-theme($cdark-theme);

.light-theme {
    @include angular-material-theme($clight-theme);
}

.dark-theme {
    @include angular-material-theme($cdark-theme);
}*/


$background-color: rgba(48, 48, 48, 0.78);

.color-primary {
  color: mat-color($dark-primary);
}

.color-accent {
  color: mat-color($dark-accent);
}

.background-color-primary {
  background-color: mat-color($dark-primary);
}

.background-color-accent {
  background-color: mat-color($dark-accent);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: mat-color($dark-primary);
}

::-webkit-scrollbar-corner {
  background: mat-color($dark-primary);
}

html, body, app-root {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

/*.vertical-divider-color {
  border-right-color: #e0e0e0;
}*/

.mat-toolbar {
  height: 3.5vh !important;

  #back-nav {
    float: left;
  }

  #save-nav {
    float: right;
  }

  h1 {
    flex: 1 1 auto;
    text-align: center;
  }
}

.cdk-overlay-pane {
  opacity: 0.95;
}

//.mat-app-background {
  // border: 4px outset mat-color($dark-primary);
  // color: white;
//}

.border {
  border: 4px ridge mat-color($dark-primary);
}

/*@font-face {
  font-family: mainFont;
  src: url(assets/pricedown.ttf);
}*/

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*:not([placeholder]) {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button:not([disabled]):hover {
  opacity: 0.6 !important;
}

.container {
  border-radius: 10px;
}

.multi-line-text {
  white-space: pre-line;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.color-picker {
    background-color: $background-color !important;

    .box {
        input {
            background: $background-color !important;
            color: white !important;
        }

        div {
            color: white !important;
        }
    }
}

.mat-expansion-panel {
    background: transparent;
}

.mat-slider-thumb-label-text {
    font-weight: 100 !important;
}

.save-button {
    background: darkgreen !important;
    color: white !important;
}

.revert-button {
    background: darkred !important;
    color: white !important;
}

.default-button {
    background: rgb(80,80,80) !important;
    color: white !important;
}
