<form ngDraggable [handle]="loginTab" [formGroup]="loginForm" #form="ngForm" class="window" (ngSubmit)="onSubmit(form)">
    <div class="logintab" #loginTab>Login</div>
    <mat-form-field>
        <input name="Username" formControlName="username" form matInput placeholder="username" type="text" required maxlength="50">
    </mat-form-field>
    <mat-form-field>
        <input name="Password" formControlName="password" matInput placeholder="password" [type]="hidePassword ? 'password' : 'text'" required maxlength="100" minlength="3">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button type="submit" mat-button [disabled]="loginForm.invalid">Login</button>
</form>
