.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 35%;
  right: 35%;
  opacity: 0.95;
}

mat-toolbar > h1 {
  margin-left: 8px;
  flex: 1 1 auto;
}

.mat-toolbar {
  height: 10%;
}

.mat-sidenav-container {
  flex: 1;
}

.mat-sidenav-content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
}

#left-content {
  float: left;
  max-width: 60%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
  // direction: rtl;

  .filter {
    margin-top: 5px;
    width: 100%;
  }
}

#right-content {
  display: flex;
  flex-flow: column;
  padding: 10px;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

#left-content > * > .mat-list-item {
  height: 5%;
}

#map-description {
  flex: 1 1 auto;
  padding-bottom: 10px;
  padding-right: 10px;
  bottom: 0;
  overflow-y: auto;
}

#vote-button {
  float: right;
}

.mat-divider {
  float: left;
  height: 100%;
}

#map-action-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#favorite-heart {
  flex: 0 0 65%;
}

#map-creator-hint {
  flex: 1;
  text-align: center;
}

#map-title {
  text-align: center;
}

#votings-container {
  position: absolute;
  vertical-align: bottom;
  text-align: right;
  right: 0.5%;
  color: white;
  text-shadow: 2px 2px 2px black !important;
  bottom: 10%;
  font-size: 1.6em;
}

.mapvoting_selected {
  font-size: 1.7em;
  border-color: green;
}

.red-color {
  color: red;
}
