<mat-vertical-stepper linear #stepper (animationDone)="stepperAnimationDone()" *ngIf="!this.applicationAlreadyCreated">

    <mat-step>
        <ng-template matStepLabel>{{ 'InfosForAdminApplyProcess' | language: settings.Lang }}</ng-template>
        <div class="multi-line-text">{{ 'AdminApplyProcessInfo' | language: settings.Lang }}</div>
    </mat-step>

    <mat-step #confirmStep>
        <ng-template matStepLabel>{{ 'Confirmations' | language: settings.Lang }}</ng-template>
        <mat-checkbox (change)="checkboxChecked($event)" required>{{ 'ConfirmRuleAdminApply' | language: settings.Lang }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox (change)="checkboxChecked($event)" required>{{ 'ConfirmTeamAdminApply' | language: settings.Lang }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox (change)="checkboxChecked($event)" required>{{ 'ConfirmNoAbuseAdminApply' | language: settings.Lang }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox (change)="checkboxChecked($event)" required>{{ 'ConfirmStatsVisibleAdminApply' | language: settings.Lang }}
        </mat-checkbox>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>{{ 'AdminQuestions' | language: settings.Lang }}</ng-template>
        <div class="adminquestions-expansion-panel-container">
            <app-userpanel-admin-questions
                [questions]="userpanelService.adminQuestions"
                [(answers)]="answersToAdminQuestions">
            </app-userpanel-admin-questions>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>{{ 'SendApplication' | language: settings.Lang }}</ng-template>
    </mat-step>

</mat-vertical-stepper>

<div *ngIf="this.applicationAlreadyCreated">
    <label class="multi-line-text">
        {{ "AlreadyCreatedApplicationInfo" | language: settings.Lang:userpanelService.myApplicationCreateTime }}
    </label>
    <mat-card class="mat-app-background" *ngFor="let invitation of userpanelService.adminApplyInvitations">
        <mat-card-header>
            <mat-card-title>{{ invitation[1] }}</mat-card-title>
            <mat-card-subtitle>{{ invitation[2] }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ invitation[3] }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="acceptInvitation(invitation[0])">{{ 'Accept' | language: settings.Lang }}</button>
            <button mat-raised-button (click)="rejectInvitation(invitation[0])">{{ 'Reject' | language: settings.Lang }}</button>
        </mat-card-actions>
    </mat-card>
</div>
