<tdswindow cdkDrag (close)="closeUserpanel()" [isLoading]="userpanelService.loadingData"
[navMenu]="userpanelNav" [currentNav]="userpanelService.currentNav | language: settings.Lang"
[navGlow]="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Main]"
contentWidth="30vw"
contentHeight="36.5vh">
    <app-userpanel-stats-general *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.MyStatsGeneral]"
        [stats]="userpanelService.myStatsGeneral"
        [columns]="myStatsGeneralColumns">
    </app-userpanel-stats-general>
    <app-userpanel-stats-weapon *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.MyStatsWeapon]"
        [weaponsUsed]="userpanelService.myStatsWeaponsUsed">
    </app-userpanel-stats-weapon>
    <app-userpanel-commands *ngIf="userpanelService.currentNav.startsWith('Commands')"
        [(currentCommand)]="currentCommand"
        [currentNav]="userpanelService.currentNav" >
    </app-userpanel-commands>
    <app-userpanel-rules *ngIf="userpanelService.currentNav.startsWith('Rules')"
        [currentNav]="userpanelService.currentNav" >
    </app-userpanel-rules>
    <app-userpanel-faqs *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.FAQ]"></app-userpanel-faqs>
    <app-userpanel-settings-special *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.SettingsSpecial]"></app-userpanel-settings-special>
    <app-userpanel-settings-normal *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.SettingsNormal]"></app-userpanel-settings-normal>
    <app-userpanel-settings-commands *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.SettingsCommands]"></app-userpanel-settings-commands>
    <app-userpanel-application *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Application] && settings.AdminLevel == 0">
    </app-userpanel-application>
    <app-userpanel-applications *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Applications] && settings.AdminLevel > 0">
    </app-userpanel-applications>
    <app-userpanel-support-user *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.SupportUser] && settings.AdminLevel == 0">
    </app-userpanel-support-user>
    <app-userpanel-support-admin *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.SupportAdmin] && settings.AdminLevel > 0">
    </app-userpanel-support-admin>
    <app-userpanel-offline-messages *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.OfflineMessages]">
    </app-userpanel-offline-messages>
    <div *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Main]"
        [innerHTML]="langPipe.transform('UserpanelInfo', settings.Lang)">
    </div>
</tdswindow>

<mat-menu #userpanelNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Main)">
        <mat-icon color="accent">dashboard</mat-icon>
        {{ userpanelNavPage[userpanelNavPage.Main] | language: settings.Lang }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="statsNav" >
        <mat-icon color="accent">info</mat-icon>
        {{ userpanelNavPage[userpanelNavPage.MyStats] | language: settings.Lang }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="rulesNav">
        <mat-icon color="accent">assignment</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Rules] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="settingsNav">
        <mat-icon color="accent">settings</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Settings] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="commandsNav">
        <mat-icon color="accent">speaker_notes</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Commands] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.FAQ)">
        <mat-icon color="accent">help</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.FAQ] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.SupportUser)" *ngIf="settings.AdminLevel == 0">
        <mat-icon color="accent">question_answer</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SupportUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.SupportAdmin)" *ngIf="settings.AdminLevel > 0">
        <mat-icon color="accent">question_answer</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SupportAdmin] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Application)" *ngIf="settings.AdminLevel == 0">
      <mat-icon color="accent">post_add</mat-icon>
      <span>{{ userpanelNavPage[userpanelNavPage.Application] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Applications)" *ngIf="settings.AdminLevel > 0">
        <mat-icon color="accent">post_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Applications] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.OfflineMessages)">
        <mat-icon color="accent">mail_outline</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.OfflineMessages] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #settingsNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.SettingsSpecial)">
        <mat-icon color="accent">account_box</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SettingsSpecial] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="settingsNormalNav">
        <mat-icon color="accent">list</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SettingsNormal] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.SettingsCommands)">
        <mat-icon color="accent">speaker_notes</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SettingsCommands] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #settingsNormalNav="matMenu">
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.General)">
        <mat-icon color="accent">settings_applications</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.General] | language: settings.Lang }}</span>
    </button>

    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.Chat)">
        <mat-icon color="accent">chat</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.Chat] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.CooldownsAndDurations)">
        <mat-icon color="accent">timer</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.CooldownsAndDurations] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.FightEffect)">
        <mat-icon color="accent">flare</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.FightEffect] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.Info)">
        <mat-icon color="accent">info</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.Info] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.IngameColors)">
        <mat-icon color="accent">color_lens</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.IngameColors] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.KillInfo)">
        <mat-icon color="accent">warning</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.KillInfo] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.Scoreboard)">
        <mat-icon color="accent">view_column</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.Scoreboard] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.Theme)">
        <mat-icon color="accent">colorize</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.Theme] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoSettingsNormalNav(userpanelSettingsNormalType.Voice)">
        <mat-icon color="accent">record_voice_over</mat-icon>
        <span>{{ userpanelSettingsNormalType[userpanelSettingsNormalType.Voice] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #commandsNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsUser)">
        <mat-icon color="accent">group</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsTDSTeam)">
        <mat-icon color="accent">pan_tool</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsTDSTeam] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsVIP)">
        <mat-icon color="accent">group_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsVIP] | language: settings.Lang }}</span>
    </button>
    <!--<button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsDonator)">
        <mat-icon color="accent">monetization_on</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsDonator] | language: settings.Lang }}</span>
    </button>-->
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsLobbyOwner)">
        <mat-icon color="accent">how_to_reg</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsLobbyOwner] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #rulesNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesUser)">
        <mat-icon color="accent">group</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesTDSTeam)">
        <mat-icon color="accent">pan_tool</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesTDSTeam] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesVIP)">
        <mat-icon color="accent">group_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesVIP] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #statsNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.MyStatsGeneral)">
        <mat-icon color="accent">account_circle</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.MyStatsGeneral] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.MyStatsWeapon)">
        <mat-icon color="accent" svgIcon="PistolColorless"></mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.MyStatsWeapon] | language: settings.Lang }}</span>
    </button>
</mat-menu>
