tdswindow {
    position: absolute;
    left: 37.5vw;
    top: 30vh;
    width: 25vw;
    display: flex;
    flex-direction: column;

    > * {
        height: 100%;
    }
}

.glowing-button {
    animation: glowing 1500ms infinite;
}

@keyframes glowing {
    0% { box-shadow: 0 0 2px white; }
    50% { box-shadow: 0 0 20px white; }
    100% { box-shadow: 0 0 2px white; }
  }
