.container {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 10vh;
    right: 5px;
    display: flex;
    flex-direction: column-reverse;
    z-index: -999;
    align-items: flex-end;

    * {
        margin-top: 10px;
    }

    .voting-row {
        width: auto;
        padding: 5px 10px 5px 10px;
        text-shadow: 2px 2px 2px black !important;
        font-size: 1.6em;
        color: white;
        text-align: right;
    }

    .mapvoting_selected {
        font-size: 1.7em;
        border-color: green;
    }
}
