<div *ngIf="data" id="buttons">
  <ng-container *ngIf="!isRandomTeams">
      <button class="container mat-app-background" [style.border-color]="getColor(team)" *ngFor="let team of data.slice(1); let i = index"
      (click)="chooseTeamIndex(i + 1)">
          {{ team[0] }}
      </button>
  </ng-container>
  <button class="container mat-app-background" *ngIf="isRandomTeams" (click)="chooseTeamIndex(1)">
      {{ 'RandomTeam' | language: settings.Lang }}
  </button>

  <button class="container mat-app-background" (click)="chooseTeamIndex(0)">
      {{ 'Spectate' | language: settings.Lang }}
  </button>
  <button class="container mat-app-background" (click)="leaveLobby()">
      {{ 'LeaveLobby' | language: settings.Lang }}
  </button>
</div>
