<form class="container mat-elevation-8 mat-app-background" cdkDrag>
  <mat-toolbar color="primary" cdkDragHandle>
    <mat-icon id="go-back-nav" (click)="currentTitle='MapCreator'; goBackNav()" *ngIf="isBackableNav()">arrow_back</mat-icon>
    <h1>{{ currentTitle | language: settings.Lang }}</h1>
    <mat-icon id="save-nav" (click)="currentTitle='MapCreator'; saveNav()" *ngIf="isSaveableNav()">save</mat-icon>
  </mat-toolbar>

  <div id="container-content">
    <div id="main-content" *ngIf="currentNav == mapCreatorNav.Main">
      <mat-form-field color="accent" hintLabel="{{ getMinNameLength() }}-{{ getMaxNameLength() }} {{ 'Chars' | language: settings.Lang }}" class="mat-form-field-with-hint">
        <input name="name" #nameInput matInput placeholder="{{ 'Name' | language: settings.Lang }}" [formControl]="nameControl" type="text" [(ngModel)]="data.Name"/>
        <mat-error *ngIf="nameControl.invalid">{{ getMinNameLength() }}-{{ getMaxNameLength() }} {{ 'Chars' | language: settings.Lang }}</mat-error>
        <mat-hint align="end">{{ nameInput.value?.length || 0 }}/{{getMaxNameLength()}}</mat-hint>
      </mat-form-field>
      <div class="two-per-row-container" color="accent">
        <mat-select name="mapType" class="two-per-row-div mat-select-without-field mat-raised-button" required [(ngModel)]="data.Type" (selectionChange)="onMapTypeChange($event)">
          <mat-option *ngFor="let type of getMapTypes()" [value]="getMapTypeValue(type)">
            {{ type | language: settings.Lang }}
          </mat-option>
        </mat-select>

        <button class="two-per-row-div"
            mat-raised-button
            (click)="currentTitle='MapSettings'; switchToMapSettings()" >
          {{ 'MapSettings' | language: settings.Lang }}
        </button>
        <button class="two-per-row-div" mat-raised-button
          (click)="currentTitle=lang; switchToDescriptionEdit(lang)" *ngFor="let lang of getLanguages()" >
          {{ lang | language: settings.Lang }}
        </button>
        <button class="two-per-row-div" mat-raised-button
          [color]="isTeamSpawnsValid() ? 'primary' : 'warn'" (click)="currentTitle='TeamSpawns'; switchToTeamSpawnsEdit()">
          {{ 'TeamSpawns' | language: settings.Lang }} *
        </button>
        <button class="two-per-row-div" mat-raised-button
          [color]="isMapLimitValid() ? 'primary' : 'warn'" (click)="currentTitle='MapLimit'; switchToMapLimitEdit()">
          {{ 'MapLimit' | language: settings.Lang }} *
        </button>
        <button class="two-per-row-div" mat-raised-button (click)="currentTitle='MapCenter'; switchToMapCenterEdit()">
          {{ 'MapCenter' | language: settings.Lang }}
        </button>
        <button class="two-per-row-div" mat-raised-button *ngIf="data.Type == 1"
          [color]="isBombPlacesValid() ? 'primary' : 'warn'" (click)="currentTitle='BombPlaces'; switchToBombPlacesEdit()">
          {{ 'BombPlaces' | language: settings.Lang }} *
        </button>
      </div>

      <div id="main-bottom-buttons-row">
        <button mat-raised-button type="button" (click)="sendDataToClient()"
          [disabled]="!isMapLimitValid() || !isTeamSpawnsValid() || !isBombPlacesValid() || nameControl.invalid">
          {{ 'Send' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="startNew()">
          {{ 'New' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="saveData()" [disabled]="nameControl.invalid">
          {{ 'Save' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="loadPossibleMaps()">
          {{ 'Load' | language: settings.Lang }}
        </button>
      </div>
    </div>

    <div id="mapsettings-content" class="two-per-row-container" *ngIf="currentNav == mapCreatorNav.MapSettings">
      <mat-form-field class="two-per-row-div" color="accent">
        <input name="minPlayer" matInput placeholder="{{ 'MinPlayers' | language: settings.Lang }}" type="number" step="1" [(ngModel)]="data.MinPlayers"/>
      </mat-form-field>
      <mat-form-field class="two-per-row-div" color="accent">
        <input name="maxPlayers" matInput placeholder="{{ 'MaxPlayers' | language: settings.Lang }}" type="number" step="1" [(ngModel)]="data.MaxPlayers"/>
      </mat-form-field>
    </div>

    <div id="description-content" *ngIf="currentNav == mapCreatorNav.Description">
      <mat-form-field color="accent">
        <textarea #descriptionTextArea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          placeholder="{{ editingDescriptionLang | language: settings.Lang }}-{{ 'Description' | language: settings.Lang }}" maxlength="1000" type="text"
          >{{ data.Description[getLanguageValue(editingDescriptionLang)] }}</textarea>
      </mat-form-field>
    </div>

    <div class="positions-div" *ngIf="currentNav == mapCreatorNav.TeamSpawns">
      <div id="team-spawns-top-row">
        <mat-form-field color="accent">
          <mat-label>{{ 'Team' | language: settings.Lang }}</mat-label>
          <mat-select name="editingTeamNumber" [(ngModel)]="editingTeamNumber" (selectionChange)="onEditingTeamNumberChange($event)">
            <mat-option *ngFor="let spawns of data.TeamSpawns; let i = index" [value]="i">
              {{ 'Team ' + (i+1) }}
            </mat-option>
            <mat-option value="+">
              +
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button type="button" (click)="removeLastTeam()">
          {{ 'Remove' | language: settings.Lang }}
        </button>
      </div>
      <div class="mat-table-container mat-elevation-z8">
        <mat-table [dataSource]="data.TeamSpawns[editingTeamNumber]" matSort >

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>{{ 'NumberShort' | language: settings.Lang }}</mat-header-cell>
            <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="x">
            <mat-header-cell *matHeaderCellDef>X</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.X }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="y">
            <mat-header-cell *matHeaderCellDef>Y</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Y }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="z">
            <mat-header-cell *matHeaderCellDef>Z</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Z }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="rot">
            <mat-header-cell *matHeaderCellDef>Rotation</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Rotation }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"
                  (click)="onSelectedPositionChanged(row)"
                  [ngClass]="{'background-color-primary': selectedPosition == row}"></mat-row>

        </mat-table>
      </div>

      <div class="positions-bottom-row">
        <button mat-raised-button type="button" (click)="addNewPos(addPosToTeamSpawns)">
          {{ 'AddPos' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="removeSelectedPos(removePosFromTeamSpawns)" [disabled]="!selectedPosition">
          {{ 'Remove' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="tpToSelectedPos()" [disabled]="!selectedPosition">
          {{ 'Teleport' | language: settings.Lang }}
        </button>
      </div>
    </div>
    <div class="positions-div" *ngIf="currentNav == mapCreatorNav.MapLimit">
      <div class="mat-table-container mat-elevation-z8">
        <mat-table [dataSource]="data.MapEdges" matSort>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>{{ 'NumberShort' | language: settings.Lang }}</mat-header-cell>
            <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="x">
            <mat-header-cell *matHeaderCellDef>X</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.X }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="y">
            <mat-header-cell *matHeaderCellDef>Y</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Y }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns2D"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2D"
                  (click)="onSelectedPositionChanged(row)"
                  [ngClass]="{'background-color-primary': selectedPosition == row}"></mat-row>

        </mat-table>
      </div>

      <div class="positions-bottom-row">
        <button mat-raised-button type="button" (click)="addNewPos(addPosToMapLimits)">
          {{ 'AddPos' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="removeSelectedPos(removePosFromMapLimits)" [disabled]="!selectedPosition">
          {{ 'Remove' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="tpToSelectedPos()" [disabled]="!selectedPosition">
          {{ 'Teleport' | language: settings.Lang }}
        </button>
      </div>
    </div>
    <div id="map-center-div" *ngIf="currentNav == mapCreatorNav.MapCenter">
      <div id="map-center-info">
        {{ 'MapCenterInfo' | language: settings.Lang }}
      </div>
      <div id="map-center-positions-container">
        <mat-form-field color="accent">
          <input name="mapCenterX" matInput placeholder="X-{{ 'Position' | language: settings.Lang }}" type="number" [(ngModel)]="data.MapCenter.X"/>
        </mat-form-field>
        <mat-form-field color="accent">
          <input name="mapCenterY" matInput placeholder="Y-{{ 'Position' | language: settings.Lang }}" type="number" [(ngModel)]="data.MapCenter.Y"/>
        </mat-form-field>
        <mat-form-field color="accent">
          <input name="mapCenterZ" matInput placeholder="Z-{{ 'Position' | language: settings.Lang }}" type="number" [(ngModel)]="data.MapCenter.Z"/>
        </mat-form-field>
      </div>
      <div class="positions-bottom-row">
          <button mat-raised-button type="button" (click)="addNewPos(addPosToMapCenter)">
            {{ 'AddPos' | language: settings.Lang }}
          </button>
          <button mat-raised-button type="button" (click)="tpToXY(data.MapCenter.X, data.MapCenter.Y)" [disabled]="false">
            {{ 'Teleport' | language: settings.Lang }}
          </button>
        </div>
    </div>
    <div class="positions-div bomb-places-div" *ngIf="currentNav == mapCreatorNav.BombPlaces">
      <div class="mat-table-container mat-elevation-z8">
        <mat-table [dataSource]="data.BombPlaces" matSort>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>{{ 'NumberShort' | language: settings.Lang }}</mat-header-cell>
            <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="x">
            <mat-header-cell *matHeaderCellDef>X</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.X }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="y">
            <mat-header-cell *matHeaderCellDef>Y</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Y }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="z">
            <mat-header-cell *matHeaderCellDef>Z</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Z }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="rot">
            <mat-header-cell *matHeaderCellDef>Rotation</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Rotation }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"
                  (click)="onSelectedPositionChanged(row)"
                  [ngClass]="{'background-color-primary': selectedPosition == row}"></mat-row>

        </mat-table>
      </div>

      <div class="positions-bottom-row">
        <button mat-raised-button type="button" (click)="addNewPos(addPosToBombPlaces)">
          {{ 'AddPos' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="removeSelectedPos(removePosFromBombPlaces)" [disabled]="!selectedPosition">
          {{ 'Remove' | language: settings.Lang }}
        </button>
        <button mat-raised-button type="button" (click)="tpToSelectedPos()" [disabled]="!selectedPosition">
          {{ 'Teleport' | language: settings.Lang }}
        </button>
      </div>
    </div>
  </div>
</form>
