<form id="container" class="mat-elevation-z24 mat-app-background" cdkDrag>
  <mat-toolbar color="primary" cdkDragHandle>
    <mat-icon (click)="saveNav()" *ngIf="isSaveableNav()">save</mat-icon>
    <mat-icon (click)="goBackNav()" *ngIf="isBackableNav()">arrow_back</mat-icon>
    <h1>{{ 'MapCreator' | language: settings.Lang }}</h1>
  </mat-toolbar>

  <div id="main-content" *ngIf="currentNav == mapCreatorNav.Main">
    <mat-form-field color="accent">
      <input matInput placeholder="{{ 'Name' | language: settings.Lang }}" min="3" max="100" type="text" required/>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>{{ 'Type' | language: settings.Lang }}</mat-label>
      <mat-select required [value]="data.Type" (selectionChange)="onMapTypeChange($event)">
        <mat-option *ngFor="let type of getMapTypes()" [value]="getMapTypeValue(type)">
          {{ type | language: settings.Lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="nav-buttons-container" color="accent">
      <button class="nav-button" mat-raised-button type="button"
        (click)="switchToDescriptionEdit(lang)" *ngFor="let lang of getLanguages()" >
        {{ lang | language: settings.Lang }}
      </button>
      <button class="nav-button" mat-raised-button type="button"
        [color]="isTeamSpawnsValid() ? 'primary' : 'warn'" (click)="switchToTeamSpawnsEdit()">
        {{ 'TeamSpawns' | language: settings.Lang }} *
      </button>
      <button class="nav-button" mat-raised-button type="button"
        [color]="isMapLimitValid() ? 'primary' : 'warn'" (click)="switchToMapLimitEdit()">
        {{ 'MapLimit' | language: settings.Lang }} *
      </button>
      <button class="nav-button" mat-raised-button type="button" (click)="switchToMapCenterEdit()">
        {{ 'MapCenter' | language: settings.Lang }}
      </button>
      <button class="nav-button" mat-raised-button type="button" *ngIf="data.Type == 1"
        [color]="isBombPlacesValid() ? 'primary' : 'warn'" (click)="switchToBombPlacesEdit()">
        {{ 'BombPlaces' | language: settings.Lang }} *
      </button>
    </div>
  </div>

  <div id="description-content" *ngIf="currentNav == mapCreatorNav.Description">
    <mat-form-field color="accent">
      <textarea #descriptionTextArea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        placeholder="{{ editingDescriptionLang | language: settings.Lang }}-{{ 'Description' | language: settings.Lang }}" maxlength="1000" type="text">{{ data.Description[getLanguageValue(editingDescriptionLang)] }}</textarea>
    </mat-form-field>
  </div>

  <div *ngIf="currentNav == mapCreatorNav.TeamSpawns">
    <mat-table [dataSource]="data.TeamSpawns">

    </mat-table>
  </div>
  <div *ngIf="currentNav == mapCreatorNav.MapLimit"></div>
  <div *ngIf="currentNav == mapCreatorNav.MapCenter"></div>
  <div *ngIf="currentNav == mapCreatorNav.BombPlaces"></div>


    <!--  -->
</form>
