<div id="full-size-container" *ngIf="data">
  <div class="container mat-app-background">

    <ng-container *ngIf="isRandomTeams">
      <button mat-button (click)="chooseTeamIndex(1)">
        <div *ngFor="let team of data.slice(1)" class="team-same-button">
          <div style="overflow: hidden; word-break: break-all; word-wrap: break-word; white-space: normal; line-height: 1.2em">
              <div class="button-span" [style.color]="getColor(team)">{{ team.Name }}</div> ({{ team.PlayerNames.length }}):
              <div>{{ team.PlayerNames.join(", ") }}</div>

          </div>
        </div>
      </button>
    </ng-container>

    <ng-container *ngIf="!isRandomTeams">
      <ng-container *ngFor="let team of data.slice(1); let i = index">
        <button mat-button (click)="chooseTeamIndex(i)">
          <div style="overflow: hidden; word-break: break-all; word-wrap: break-word; white-space: normal; line-height: 1.2em">
              <div class="button-span" [style.color]="getColor(team)">{{ team.Name }}</div> ({{ team.PlayerNames.length }}):
              <div>{{ team.PlayerNames.join(", ") }}</div>
          </div>
        </button>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>

    <button mat-button (click)="chooseTeamIndex(0)">{{ data[0].Name }}</button>
  </div>
</div>