@import '../../../char-creator.component.scss';
@include char-creator-content;

/*.mat-action-list {
    * {
        width: 100%;
    }

    .radio-group {
        height: 100%;

        .mat-radio-button {
            margin-top: 5px;
        }

        .mat-radio-button:last-child {
            margin-bottom: 5px;
        }
    }

    .save-button {
        margin-top: 10px;
    }
}*/
