<mat-action-list>
    <mat-list-item>
        <mat-form-field color="accent">
            <mat-label>{{ 'Gender' | language: settings.Lang }}</mat-label>
            <mat-select [value]="data[selectedSlot][0] ? 'true' : 'false'" (selectionChange)="onGenderChanged($event)">
                <mat-option value="true">
                    {{ 'Male' | language: settings.Lang }}
                </mat-option>
                <mat-option value="false">
                    {{ 'Female' | language: settings.Lang }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>
    <button mat-list-item (click)="navChanged.emit(bodyMenuNav.Heritage)">
        {{ bodyMenuNav[bodyMenuNav.Heritage] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="navChanged.emit(bodyMenuNav.Features)">
        {{ bodyMenuNav[bodyMenuNav.Features] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="navChanged.emit(bodyMenuNav.Appearance)">
        {{ bodyMenuNav[bodyMenuNav.Appearance] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="navChanged.emit(bodyMenuNav.HairAndColors)">
        {{ bodyMenuNav[bodyMenuNav.HairAndColors] | language: settings.Lang }}
    </button>
    <mat-list-item disableRipple class="radio-group">
        <mat-radio-group ngDefaultControl [value]="selectedSlot" (change)="onSlotChanged($event)">
            <mat-radio-button *ngFor="let entry of data; let i = index" [value]="i"> {{ 'Slot' | language: settings.Lang }} {{ i + 1 }} </mat-radio-button>
        </mat-radio-group>
    </mat-list-item>
    <button mat-list-item (click)="saveClicked.emit()">
        {{ 'Save' | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="cancelClicked.emit()">
        {{ 'Cancel' | language: settings.Lang }}
    </button>
</mat-action-list>
