<ng-container [ngSwitch]="userpanelSettingsNormalService.currentType">
    <app-userpanel-settings-chat *ngSwitchCase="settingNormalType.Chat"></app-userpanel-settings-chat>
    <app-userpanel-settings-cooldowns-and-durations *ngSwitchCase="settingNormalType.CooldownsAndDurations"></app-userpanel-settings-cooldowns-and-durations>
    <app-userpanel-settings-fight-effect *ngSwitchCase="settingNormalType.FightEffect"></app-userpanel-settings-fight-effect>
    <app-userpanel-settings-general *ngSwitchCase="settingNormalType.General"></app-userpanel-settings-general>
    <app-userpanel-settings-info *ngSwitchCase="settingNormalType.Info"></app-userpanel-settings-info>
    <app-userpanel-settings-ingame-colors *ngSwitchCase="settingNormalType.IngameColors"></app-userpanel-settings-ingame-colors>
    <app-userpanel-settings-hud *ngSwitchCase="settingNormalType.Hud"></app-userpanel-settings-hud>
    <app-userpanel-settings-kill-info *ngSwitchCase="settingNormalType.KillInfo"></app-userpanel-settings-kill-info>
    <app-userpanel-settings-scoreboard *ngSwitchCase="settingNormalType.Scoreboard"></app-userpanel-settings-scoreboard>
    <app-userpanel-settings-theme *ngSwitchCase="settingNormalType.Theme"></app-userpanel-settings-theme>
    <app-userpanel-settings-voice *ngSwitchCase="settingNormalType.Voice"></app-userpanel-settings-voice>
</ng-container>

