:root {
    --primary-color: #04074e;
    --secondary-color: #181818;
}

#mapmenu {
    overflow: hidden;
    position: absolute;
    left: 35%;
    top: 25%;
    min-width: 30%;
    height: 50%;
    display: none;
}

#mapvoting {
    position: absolute;
    text-align: right;
    right: 0.5%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 60%;
    font-size: 1.3em;
}

.mapvoting_selected {
    font-size: 1.4em;
    text-shadow: -1px -1px 0 #005700, 1px -1px 0 #005700, -1px 1px 0 #005700, 1px 1px 0 #005700;
}

.tab {
    position: relative;
    width: 98%;
    height: 100%;
    float: left;
}

.tab_list {
    margin-top: 1%;
    width: 45%;
    direction: rtl;
    overflow-y: auto;
}

.ui-selected {
    background: var(--primary-color);
}

.ui-selectee {
    direction: ltr;
    margin: 0 8px 0 0;
    width: 100%;
}

.ui-selectee:hover {
    background: rgb(17, 17, 17);
}

#rightside {
    position: absolute;
    width: 45%;
    left: 55%;
    top: 12%;
    height: 88%;
}

#map_info {
    pointer-events: none;
    float: none;
    position: relative;
    width: 100%;
    height: 80%;
    color: white;
    font-size: 0.9em;
    word-wrap: break-word;
    display: none;
}

#add_map_to_favourites {
    float: right;
    background: url("../pic/heart.png") no-repeat;
    background-position: center center;
    background-size: 95% 95%;
    border: none;
    position: relative;
    width: 12%;
    height: 5%;
    right: 2%;
    display: none;
}

.add_map_to_favourites_notselected {
    opacity: 0.5;
    
}

.add_map_to_favourites_notselected:hover{
    background-size: 105% 105%;
    opacity: 1.0;
}

.add_map_to_favourites_selected {
    opacity: 1.0;
    
}

.add_map_to_favourites_selected:hover {
    background-size: 105% 105%;
    opacity: 0.7;
}

#choose_map_button {
    position: absolute;
    width: 36%;
    left: 31%;
    bottom: 5%;
    height: 11%;
    font-size: 1em;
    padding: 0px;
    display: none;
}

button {
    border: 1px solid white;
    cursor: pointer; /* Pointer/hand icon */
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .05em;
    color: #ffffff;
    transition: all 0.5s ease;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.button-available {
    background: linear-gradient(to bottom, #008a00 1%,#005700 65%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
}

.button-available:hover, .button-available:focus {
    background: linear-gradient(to bottom, #00b709 0%,#007f04 65%,#014900 100%);
}