.container.design1 {
    width: auto;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 10px;

    .container-content {
        overflow-y: auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        margin: 2px;

        .loading-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 2px white;
    }
    50% {
        box-shadow: 0 0 20px white;
    }
    100% {
        box-shadow: 0 0 2px white;
    }
}
