<tds-window [hideToolbar]="true" [contentWidth]="'20vw'">
    <div class="container">
        <mat-tab-group
            [(selectedIndex)]="inTabIndex"
            animationDuration="0ms"
            *ngIf="registerLoginInitData$ | async as registerLoginInitData; else loading"
            color="accent"
            dynamicHeight
        >
            <mat-tab [label]="'Login' | language: settings.Lang">
                <app-login
                    [isRegistered]="registerLoginInitData[0]"
                    [name]="registerLoginInitData[1]"
                    (openPasswordForgotten)="openPasswordForgotten()"
                ></app-login>
            </mat-tab>
            <mat-tab
                [label]="'Register' | language: settings.Lang"
                [disabled]="isRegistered"
                [matTooltipDisabled]="!isRegistered"
                [matTooltip]="'YouAlreadyHaveAnAccount' | language: settings.Lang"
            >
                <app-register [name]="registerLoginInitData[1]"></app-register>
            </mat-tab>
            <mat-tab hidden>
                <app-password-forgotten [name]="registerLoginInitData[1]"></app-password-forgotten>
            </mat-tab>
        </mat-tab-group>
    </div>

    <ng-template #passwordMenu>
        <div class="container"></div>
    </ng-template>

    <!--
    <div class="tab-content">
        
        <div id="signup">
            <h1 data-lang="register_title">Register yourself at TDS!</h1>
            <form>
                <div class="field-wrap">
                    <label for="register_username" data-lang="username"> username<span class="req">*</span> </label>
                    <input type="text" id="register_username" name="username" required minlength="3" maxlength="20" />
                </div>
                <div class="field-wrap">
                    <label for="register_email" data-lang="register_email"> email-address for password-reset </label>
                    <input type="email" id="register_email" autocomplete="on" />
                </div>

                <div class="field-wrap">
                    <label for="register_password" data-lang="password"> password<span class="req">*</span> </label>
                    <input type="password" name="password" id="register_password" required minlength="3" maxlength="50" autocomplete="off" />
                </div>
                <div class="field-wrap">
                    <label for="register_password_again" data-lang="register_confirm_pw"> confirm password<span class="req">*</span> </label>
                    <input type="password" name="password" id="register_password_again" required minlength="3" maxlength="50" autocomplete="off" />
                </div>
                <button type="submit" class="button button-block button-standard" data-eventtype="register" data-lang="register_button">Register</button>
            </form>
        </div>
    </div>

    <div class="forgotpassword" style="display: none">
        <h1 data-lang="forgotpw_title">Reset your password</h1>
        <form>
            <div class="field-wrap">
                <label data-lang="username"> username<span class="req">*</span> </label>
                <input type="text" id="forgotpw_username" required name="username" />
            </div>

            <div class="field-wrap">
                <label data-lang="forgotpw_email"> email-address<span class="req">*</span> </label>
                <input type="email" id="forgotpw_email" required autocomplete="off" />
            </div>

            <button type="submit" class="button button-block button-standard" data-eventtype="resetpw" data-lang="forgotpw_reset">Reset</button>
        </form>
    </div>-->
</tds-window>

<ng-template #loading>
    <div class="datas-loading-info">
        <span>{{ 'DatasLoadingInfo' | language: settings.Lang }}</span>
    </div>
</ng-template>
