<tds-window [hideToolbar]="true" [contentWidth]="'20vw'">
    <div class="container">
        <mat-tab-group
            [(selectedIndex)]="inTabIndex"
            animationDuration="0ms"
            *ngIf="registerLoginInitData$ | async as registerLoginInitData; else loading"
            color="accent"
            dynamicHeight
        >
            <mat-tab [label]="'Login' | language: settings.Lang">
                <app-login
                    [isRegistered]="registerLoginInitData[0]"
                    [name]="registerLoginInitData[1]"
                    (openPasswordForgotten)="openPasswordForgotten()"
                ></app-login>
            </mat-tab>
            <mat-tab
                [label]="'Register' | language: settings.Lang"
                [disabled]="isRegistered"
                [matTooltipDisabled]="!isRegistered"
                [matTooltip]="'YouAlreadyHaveAnAccount' | language: settings.Lang"
            >
                <app-register [name]="registerLoginInitData[1]"></app-register>
            </mat-tab>
            <mat-tab hidden>
                <app-password-forgotten [name]="registerLoginInitData[1]"></app-password-forgotten>
            </mat-tab>
        </mat-tab-group>
    </div>

    <ng-template #passwordMenu>
        <div class="container"></div>
    </ng-template>
</tds-window>

<ng-template #loading>
    <div class="datas-loading-info">
        <span>{{ 'DatasLoadingInfo' | language: settings.Lang }}</span>
    </div>
</ng-template>
