@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dark-primary: mat-palette($mat-indigo);
$dark-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dark-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cdark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cdark-theme);

.color-primary {
  color: mat-color($dark-primary);
}

.color-accent {
  color: mat-color($dark-accent);
}

.background-color-primary {
  background-color: mat-color($dark-primary);
}

.background-color-accent {
  background-color: mat-color($dark-accent);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: mat-color($dark-primary);
}

::-webkit-scrollbar-corner {
  background: mat-color($dark-primary);
}

html, body, app-root {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

/*.vertical-divider-color {
  border-right-color: #e0e0e0;
}*/

.mat-toolbar {
  height: 3.5vh !important;

  #back-nav {
    float: left;
  }

  #save-nav {
    float: right;
  }

  h1 {
    flex: 1 1 auto;
    text-align: center;
  }
}

.cdk-overlay-pane {
  opacity: 0.95;
}

.mat-app-background {
  border: 4px outset mat-color($dark-primary) !important;
  background-color: #303030;
  color: white;
}

.border {
  border: 4px ridge mat-color($dark-primary) !important;
}

/*@font-face {
  font-family: mainFont;
  src: url(assets/pricedown.ttf);
}*/

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*:not([placeholder]) {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button:not([disabled]):hover {
  opacity: 0.6 !important;
}

.container {
  border-radius: 30px;
  opacity: 0.95;
}