<div class="container mat-elevation-z8 mat-app-background" cdkDrag>
    <mat-toolbar color="primary" cdkDragHandle>
        <button mat-button [matMenuTriggerFor]="userpanelNav" cdkFocusInitial>{{ userpanelService.currentNav | language: settings.Lang }}</button>
        <button mat-button (click)="closeUserpanel()"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <div class="container-content">
        <ng-container *ngIf="!userpanelService.loadingData">
            <app-userpanel-stats *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.MyStats]"
                [stats]="userpanelService.myStats"
                [columns]="myStatsColumns">
            </app-userpanel-stats>
            <app-userpanel-commands *ngIf="userpanelService.currentNav.startsWith('Commands')"
                [(currentCommand)]="currentCommand"
                [currentNav]="userpanelService.currentNav" >
            </app-userpanel-commands>
            <app-userpanel-rules *ngIf="userpanelService.currentNav.startsWith('Rules')"
                [currentNav]="userpanelService.currentNav" >
            </app-userpanel-rules>
            <app-userpanel-faqs *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.FAQ]"></app-userpanel-faqs>
            <app-userpanel-settings *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Settings]"></app-userpanel-settings>
            <app-userpanel-application *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Application] && settings.AdminLevel == 0">
            </app-userpanel-application>
            <app-userpanel-applications *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Applications] && settings.AdminLevel > 0">
            </app-userpanel-applications>
            <app-userpanel-support-user *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.SupportUser] && settings.AdminLevel == 0">
            </app-userpanel-support-user>
            <div *ngIf="userpanelService.currentNav == userpanelNavPage[userpanelNavPage.Main]"
                [innerHTML]="langPipe.transform('UserpanelInfo', settings.Lang)">
            </div>
        </ng-container>
        <div class="loading-container" *ngIf="userpanelService.loadingData">
            <mat-spinner color="accent"></mat-spinner>
        </div>
    </div>
</div>

<mat-menu #userpanelNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Main)">
        <mat-icon>dashboard</mat-icon>
        {{ userpanelNavPage[userpanelNavPage.Main] | language: settings.Lang }}
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.MyStats)">
        <mat-icon>info</mat-icon>
        {{ userpanelNavPage[userpanelNavPage.MyStats] | language: settings.Lang }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="rulesNav">
        <mat-icon>assignment</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Rules] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Settings)">
        <mat-icon>settings</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Settings] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="commandsNav">
        <mat-icon>speaker_notes</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Commands] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.FAQ)">
        <mat-icon>help</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.FAQ] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.SupportUser)" *ngIf="settings.AdminLevel == 0">
        <mat-icon>question_answer</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SupportUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.SupportAdmin)" *ngIf="settings.AdminLevel > 0">
        <mat-icon>question_answer</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.SupportAdmin] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Application)" *ngIf="settings.AdminLevel == 0">
      <mat-icon>post_add</mat-icon>
      <span>{{ userpanelNavPage[userpanelNavPage.Application] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.Applications)" *ngIf="settings.AdminLevel > 0">
        <mat-icon>post_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.Applications] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #commandsNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsUser)">
        <mat-icon>group</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsTDSTeam)">
        <mat-icon>pan_tool</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsTDSTeam] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsVIP)">
        <mat-icon>group_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsVIP] | language: settings.Lang }}</span>
    </button>
    <!--<button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsDonator)">
        <mat-icon>monetization_on</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsDonator] | language: settings.Lang }}</span>
    </button>-->
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.CommandsLobbyOwner)">
        <mat-icon>how_to_reg</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.CommandsLobbyOwner] | language: settings.Lang }}</span>
    </button>
</mat-menu>

<mat-menu #rulesNav="matMenu">
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesUser)">
        <mat-icon>group</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesUser] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesTDSTeam)">
        <mat-icon>pan_tool</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesTDSTeam] | language: settings.Lang }}</span>
    </button>
    <button mat-menu-item (click)="gotoNav(userpanelNavPage.RulesVIP)">
        <mat-icon>group_add</mat-icon>
        <span>{{ userpanelNavPage[userpanelNavPage.RulesVIP] | language: settings.Lang }}</span>
    </button>
</mat-menu>
