<h1 mat-dialog-title>{{ 'ChooseAMapFromList' | language: settings.Lang }}</h1>
<div mat-dialog-content>
  <mat-form-field color="accent">
    <mat-label>{{ 'Map' | language: settings.Lang }}</mat-label>
    <mat-select [value]="chosenMap">
      <mat-option *ngFor="let maps of data" [value]="maps">
        {{ maps }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">{{ 'Cancel' | language: settings.Lang }}</button>
  <button mat-raised-button [mat-dialog-close]="chosenMap" cdkFocusInitial>{{ 'Choose' | language: settings.Lang }}</button>
</div>
