.toolbar.design2 {
    flex-shrink: 0;
    min-height: 30px;

    .glowing-button {
        animation: glowing 1500ms infinite;
    }

    > * {
        display: table-cell;
        flex-shrink: 0;
    }

    #title {
        width: 100%;
        text-align: center;
        flex-shrink: 1;
        margin-left: 5px;
        margin-right: 5px;
    }

    #menu-navigation {
        min-width: initial !important;

        .mat-icon {
            margin-right: 10px;
        }
    }
}
