<div class="container"
[@killMessages]="killMessagesService.killInfos.length"
(@killMessages.done)="onAnimationDoneEvent($event)"
[style.font-size]="settings.Settings[8] + 'em'">
    <div class="kill-message" *ngFor="let killInfo of killMessagesService.killInfos">
        <span [style.margin-left]="settings.Settings[10] + 'px'">{{ killInfo[1] }}</span>
        <mat-icon color="accent"
        *ngIf="settings.Settings[7]"
        [svgIcon]="weaponHash[killInfo[2]]"
        [style.margin-left]="settings.Settings[10] + 'px'"
        [style.width]="settings.Settings[9] + 'px'"
        [style.height]="settings.Settings[12] + 'px'"
        ></mat-icon>
        <span *ngIf="!settings.Settings[7]"
        [style.margin-left]="settings.Settings[10] + 'px'">
            {{ weaponHash[killInfo[2]] | language: settings.Lang }}
        </span>
        <span [style.margin-left]="settings.Settings[10] + 'px'">{{ killInfo[0] }}</span>
    </div>
</div>
