.container {
    position: absolute;
    right: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 35vh;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;

    .kill-message {
        > * {
            float: right;
            margin-left: 10px;
        }

        .mat-icon {
            width: 60px;
        }
    }
}
