<div class="container"
[@killMessages]="killMessagesService.killInfos.length"
(@killMessages.done)="onAnimationDoneEvent($event)"
[style.font-size]="killMessagesService.killInfoSettings[2001]">
    <div class="kill-message" *ngFor="let killInfo of killMessagesService.killInfos">
        <span [style.margin-left]="killMessagesService.killInfoSettings[2003]">{{ killInfo[1] }}</span>
        <mat-icon color="accent"
        *ngIf="killMessagesService.killInfoSettings[2000]"
        [svgIcon]="weaponHash[killInfo[2]]"
        [style.margin-left]="killMessagesService.killInfoSettings[2003]"
        [style.width]="killMessagesService.killInfoSettings[2002]"
        ></mat-icon>
        <span *ngIf="!killMessagesService.killInfoSettings[2000]">
            {{ weaponHash[killInfo[2]] | language: settings.Lang }}
        </span>
        <span [style.margin-left]="killMessagesService.killInfoSettings[2003]">{{ killInfo[0] }}</span>
    </div>
</div>
