.container {
    position: absolute;
    right: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 35vh;
    display: flex;
    flex-direction: column;
    z-index: -10;

    .kill-message {
        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
            float: right;
        }

        .mat-icon {
            width: 60px;
        }
    }
}
