<div class="left-content">
    <mat-action-list>
        <mat-list-item (click)="gotoCommand(command)" class="map-item mat-body"
        *ngFor="let command of settings.CommandsData | userpanelCommandNav: currentNav">
            {{ command[0] }}
        </mat-list-item>
    </mat-action-list>
</div>
<mat-divider vertical></mat-divider>
<div class="right-content" *ngIf="currentCommand">
    <div>
        {{ currentCommand[7][settings.LangValue] }}
    </div>
    <div>
        <div *ngIf="currentCommand[5].length <= 1">{{ 'Usage' | language: settings.Lang }}:</div>
        <div *ngIf="currentCommand[5].length > 1">{{ 'Usages' | language: settings.Lang }}:</div>
        <div *ngFor="let syntax of currentCommand[5]"
        (click)="copyCommand(currentCommand); tooltip1.disabled = false; tooltip1.show();"
        (contextmenu)="copyCommand(currentCommand); tooltip1.disabled = false; tooltip1.show();"
        #tooltip1="matTooltip"
        [matTooltip]="'Copied' | language: settings.Lang"
        matTooltipHideDelay="1000"
        (mouseenter)="tooltip1.disabled = true">
            /{{ currentCommand[0] }}
            <span *ngFor="let parameter of syntax[0]"
                [matTooltip]="langPipe.transform(parameter[1], settings.Lang)">
                [{{ parameter[0] | language: settings.Lang }}{{ parameter[2] && parameter[2].length ? ' = ' + parameter[2] : '' }}]
            </span>
        </div>
    </div>
    <div>
        <mat-divider></mat-divider>
        Aliases:<br>{{ currentCommand[6].join(', ') }}
        <mat-divider></mat-divider>
    </div>
    <div class="rights-row">
        <mat-icon [style.visibility]="(currentCommand[1] || currentCommand[2]
        || currentCommand[3] || currentCommand[4]) ? 'hidden' : 'visible'" [matTooltip]="'User' | language: settings.Lang">
            group
        </mat-icon>
        <mat-icon [style.visibility]="currentCommand[1] ? 'visible' : 'hidden'" [matTooltip]="'TDSTeam' | language: settings.Lang"
        [matBadge]="currentCommand[1] + ''" matBadgeColor="warn" >
            pan_tool
        </mat-icon>
        <!--<mat-icon *ngIf="currentCommand.MinDonation" [matBadge]="currentCommand.MinDonation">monetization_on</mat-icon>-->
        <mat-icon [style.visibility]="currentCommand[3] ? 'visible' : 'hidden'" [matTooltip]="'VIP' | language: settings.Lang">
            group_add
        </mat-icon>
        <mat-icon [style.visibility]="currentCommand[4] ? 'visible' : 'hidden'" [matTooltip]="'LobbyOwner' | language: settings.Lang">
            how_to_reg
        </mat-icon>
    </div>
</div>
