<form id="container" class="mat-elevation-z24 mat-app-background" cdkDrag>
  <mat-toolbar color="primary" cdkDragHandle>
    <h1>{{ currentTitle | language: settings.Lang }}</h1>
  </mat-toolbar>
  <div id="container-content">

    <div id="teleport-container">
      <div id="teleport-position-container">
        <mat-form-field color="accent">
          <input matInput placeholder="X-{{ 'Position' | language: settings.Lang }}" type="number" [value]="teleportToPos.X"/>
        </mat-form-field>
        <mat-form-field color="accent">
          <input matInput placeholder="Y-{{ 'Position' | language: settings.Lang }}" type="number" [value]="teleportToPos.Y"/>
        </mat-form-field>
        <mat-form-field color="accent">
          <input matInput placeholder="Z-{{ 'Position' | language: settings.Lang }}" type="number" [value]="teleportToPos.Z"/>
        </mat-form-field>
      </div>

    </div>

    <div class="two-per-row-container">
      <button #tpButton mat-raised-button class="two-per-row-div" (click)="tpToPos(tpButton)">{{ 'Teleport' | language: settings.Lang }}</button>
      <button #carButton mat-raised-button class="two-per-row-div" (click)="getVehicle(VehicleEnum.Car, carButton)">{{ 'Car' | language: settings.Lang }}</button>
      <button #heliButton mat-raised-button class="two-per-row-div" (click)="getVehicle(VehicleEnum.Helicopter, heliButton)">{{ 'Helicopter' | language: settings.Lang }}</button>
      <button #planeButton mat-raised-button class="two-per-row-div" (click)="getVehicle(VehicleEnum.Plane, planeButton)">{{ 'Plane' | language: settings.Lang }}</button>
      <button #bikeButton mat-raised-button class="two-per-row-div" (click)="getVehicle(VehicleEnum.Bike, bikeButton)">{{ 'Bike' | language: settings.Lang }}</button>
      <button #boatButton mat-raised-button class="two-per-row-div" (click)="getVehicle(VehicleEnum.Boat, boatButton)">{{ 'Boat' | language: settings.Lang }}</button>
    </div>
  </div>
</form>
