<div id="all" *ngIf="logsection != undefined">
    <table id="log_entries" class="window-field">
        <thead>
            <tr>
                <th class="not-selectable">ID</th>
                <th class="not-selectable">Name</th>
                <th class="not-selectable">Target</th>
                <th class="not-selectable">Type</th>
                <th class="not-selectable">Info</th>
                <th class="not-selectable" *ngIf="logsection == globaldata.logSectionEnum.rest">Lobby</th>
                <th class="not-selectable">Date</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entry of entries">
                <tr>
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.target }}</td>
                    <td>{{ globaldata.logTypes[logsection][entry.type] }}</td>
                    <td>{{ entry.info }}</td>
                    <td *ngIf="logsection == globaldata.logSectionEnum.rest">{{ entry.lobby }}</td>
                    <td>{{ entry.date }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div id="right_side">
        <mat-form-field>
            <input matInput #nameOnlyInput placeholder="Name only">
        </mat-form-field>
        <mat-form-field>
            <input matInput #targetOnlyInput placeholder="Target only">
        </mat-form-field>
        <mat-form-field>
            <mat-select #logtypeselecter placeholder="Type">
                <ng-container *ngFor="let type of globaldata.logTypes[logsection]; index as i">
                    <mat-option *ngIf="globaldata.adminLvl >= globaldata.neededAdminLvlForLogTypes[type]" [value]="type == 'all' ? -1 : i">
                        {{ type }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="logsection == globaldata.logSectionEnum.rest">
            <input matInput #lobbyOnlyInput placeholder="Lobby only">
        </mat-form-field>
        <mat-paginator #paginator style="background: inherit" [length]="amountrows || 0" [pageSize]="globaldata.showLogEntriesPerPage" [showFirstLastButtons]="true" [hidePageSize]="true">test</mat-paginator>
        <button id="request_button" mat-button (click)="requestLogEntries(logtypeselecter.value)">{{ amountrows === undefined ? "Request amount" : "Load entries" }}</button>
    </div>
</div>
