<!-- If there is no *ngIf it's handled in the component itself -->
<ng-container *ngIf="started">
    <app-chat></app-chat>
    <app-mapvoting></app-mapvoting>
    <app-invitation></app-invitation>
    <app-teamorders *ngIf="settings.InTeamOrderModus && settings.InFightLobby" [@teamOrdersAnimation]="teamOrdersLength"></app-teamorders>
    <app-map-creator *ngIf="showMapCreator"></app-map-creator>
    <app-freeroam *ngIf="showFreeroam"></app-freeroam>
    <app-lobby-choice *ngIf="showLobbyChoice"></app-lobby-choice>
    <app-team-choice *ngIf="showTeamChoice"></app-team-choice>
    <app-userpanel *ngIf="settings.UserpanelOpened"></app-userpanel>
    <app-ranking *ngIf="showRankings" [rankings]="rankings"></app-ranking>
    <app-hud *ngIf="showHUD" [rankingShowing]="showRankings"></app-hud>
    <app-char-creator *ngIf="showCharCreator" ></app-char-creator>
    <app-infos-handler></app-infos-handler>
    <app-gang-window *ngIf="showGangWindow"></app-gang-window>
</ng-container>
