app-invitation {
    position: absolute;
    right: 40px;
    top: 50%;
    width: 18%;
    height: auto;
    min-height: 5%;
    transform: translateY(-50%);
}

app-teamorders {
    position: absolute;
    right: 10px;
    bottom: 10%;
}
