<!-- If there is no *ngIf it's handled in the component itself -->
<app-lobby-choice *ngIf="showLobbyChoice" [showRegisterLogin]="!started"></app-lobby-choice>
<ng-container *ngIf="started">
    <app-shared-module></app-shared-module>
    <app-char-creator></app-char-creator>

    <app-mapvoting></app-mapvoting>
    <app-invitation></app-invitation>
    <app-teamorders *ngIf="settings.InTeamOrderModus && settings.InFightLobby" [@teamOrdersAnimation]="teamOrdersLength"></app-teamorders>
    <app-map-creator *ngIf="showMapCreator"></app-map-creator>
    <app-freeroam *ngIf="showFreeroam"></app-freeroam>
    <app-team-choice *ngIf="showTeamChoice"></app-team-choice>
    <app-userpanel *ngIf="settings.UserpanelOpen"></app-userpanel>
    <app-ranking *ngIf="showRankings" [rankings]="rankings"></app-ranking>
    <app-hud [hudShowing]="showHud" [rankingShowing]="showRankings"></app-hud>
    <app-char-creator *ngIf="showCharCreator" [data]="charCreateData"></app-char-creator>
    <app-infos-handler></app-infos-handler>
    <app-gang-window *ngIf="showGangWindow"></app-gang-window>
    <app-damage-test-menu *ngIf="showDamageTestMenu" [initWeapon]="damageTestMenuInitWeapon"></app-damage-test-menu>
</ng-container>
