<div id="wrapper" *ngIf="buttonStyles[1]">
    <div id="content" #carousel
    [style.transform]="sanitizer.bypassSecurityTrustStyle(buttonStyles[0].transform)">
        <button mat-raised-button
        class="active"
        *ngFor="let button of buttons | orderBy:'-index'"
        (click)="button.func()"
        [style.background]="getImageUrl(button.imgUrl)"
        [style.transform]="sanitizer.bypassSecurityTrustStyle(buttonStyles[button.index + 1].transform)"
            >
            <span>{{ button.name | language: settings.Lang }}</span>
        </button>
    </div>
</div>

<button matRipple class="arrow right" (click)="toRight()"></button>
<button matRipple class="arrow left" (click)="toLeft()"></button>
