:root {
    --primary-color: #04074e;
    --secondary-color: #181818;
}

body {
    overflow: auto;
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 50%;
}

.tab {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.tab_list {
    margin-top: 1%;
    width: 45%;
    direction: rtl;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(50, 50, 50);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: var(--primary-color);
}

::-webkit-scrollbar-corner {
    background: var(--secondary-color);
}

.ui-selected {
    background: var(--primary-color);
}

.ui-selectee {
    direction: ltr;
    margin: 0 8px 0 0;
    width: 100%;
}

.ui-selectee:hover {
    background: rgb(17, 17, 17);
}
 
#map_info {
    position: absolute;
    width: 45%;
    left: 55%;
    top: 15%;
    height: 65%;
    color: white;
    font-size: 1em;
}

#choose_map_button {
    position: absolute;
    width: 22%;
    left: 67%;
    top: 88%;
    height: 10%;
    font-size: 1em;
}

button {
    border: 1px solid white;
    cursor: pointer; /* Pointer/hand icon */
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .05em;
    color: #ffffff;
    transition: all 0.5s ease;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.button-available {
    background: linear-gradient(to bottom, #008a00 1%,#005700 65%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
}

.button-available:hover, .button-available:focus {
    background: linear-gradient(to bottom, #00b709 0%,#007f04 65%,#014900 100%);
}