.container {
    position: absolute;
    left: 1vw;
    top: 5vh;
    width: auto;
    height: auto;
    overflow: hidden;

    .mat-toolbar {
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        h1 {
            margin-left: 20px;
        }
    }

    .content {
        height: auto;
        overflow: hidden;
        padding: 20px;
        max-height: 85vh;
        overflow: auto;
    }
}
