<tdswindow [title]="charCreatorMenuNav[currentNav] | language: settings.Lang"
    (back)="goToMain()" [showBack]="currentNav != charCreatorMenuNav.MainMenu">
    <ng-container [ngSwitch]="currentNav">
        <char-creator-mainmenu *ngSwitchCase="charCreatorMenuNav.MainMenu" [(data)]="data[0]" (recreate)="recreatePed()"
        (navChanged)="goToNav($event)" (saveClicked)="save()" (cancelClicked)="cancel()" (recreate)="recreatePed()"></char-creator-mainmenu>
        <char-creator-heritage *ngSwitchCase="charCreatorMenuNav.Heritage" [(data)]="data[1]" (recreate)="recreatePed()"></char-creator-heritage>
        <char-creator-features *ngSwitchCase="charCreatorMenuNav.Features" [(data)]="data[2]" (recreate)="recreatePed()"></char-creator-features>
        <char-creator-appearance *ngSwitchCase="charCreatorMenuNav.Appearance" [(data)]="data[3]" (recreate)="recreatePed()"></char-creator-appearance>
        <char-creator-hairandcolors *ngSwitchCase="charCreatorMenuNav.HairAndColors" [(data)]="data[4]" (recreate)="recreatePed()"
        [isMale]="data[0][0]"></char-creator-hairandcolors>
    </ng-container>
</tdswindow>
