<tdswindow cdkDrag [title]="charCreatorMenuNav[currentNav] | language: settings.Lang"
    (back)="goToMain()" [showBack]="currentNav != charCreatorMenuNav.MainMenu">
    <ng-container [ngSwitch]="currentNav">
        <char-creator-mainmenu *ngSwitchCase="charCreatorMenuNav.MainMenu"
        [(data)]="data[0]" [(selectedSlot)]="data[99]" (recreate)="recreatePed()"
        (navChanged)="goToNav($event)" (saveClicked)="save()" (cancelClicked)="cancel()" (recreate)="recreatePed()"></char-creator-mainmenu>
        <char-creator-heritage *ngSwitchCase="charCreatorMenuNav.Heritage"
        [data]="getData(data[1])" (dataChange)="setData(data[1], $event)" (recreate)="recreatePed()"></char-creator-heritage>
        <char-creator-features *ngSwitchCase="charCreatorMenuNav.Features"
        [data]="getData(data[2])" (dataChange)="setData(data[2], $event)" (recreate)="recreatePed()"></char-creator-features>
        <char-creator-appearance *ngSwitchCase="charCreatorMenuNav.Appearance"
        [data]="getData(data[3])" (dataChange)="setData(data[3], $event)" (recreate)="recreatePed()"></char-creator-appearance>
        <char-creator-hairandcolors *ngSwitchCase="charCreatorMenuNav.HairAndColors"
        [data]="getData(data[4])" (dataChange)="setData(data[4], $event)" (recreate)="recreatePed()"
        [isMale]="getData(data[0])[0]"></char-creator-hairandcolors>
    </ng-container>
</tdswindow>
