#container {
    position: absolute;
    right: 10px;
    top: 10px;
    height: auto;
    width: auto;
    min-width: 70vw;
    padding: 5px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    tdswindow {
        width: 45%;
        display: flex;
        flex-direction: column;
        height: auto !important;
        max-height: calc(100%-20px);
        max-height: calc(90vh - 40px - 30px);

        .mat-table {
            width: 100% !important;
            display: table;
            border-collapse: collapse;
            background: transparent;
            table-layout: auto;

            td.mat-cell,
            th.mat-header-cell {
                padding-left: 5px;
                padding-right: 5px;

                ::ng-deep .mat-icon {
                    vertical-align: middle;
                    height: 22px !important;
                    width: 22px !important;
                    font-size: 22px !important;
                }
            }
        }
    }

    .last-row-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#available-maps-with-button {
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;

    .save-button {
        align-self: flex-end;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 10vw;
        height: 5vh;
        font-size: 1.2em;
    }

}

