.mention-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    min-width: 11em;
    padding: 0.5em 0;
    margin: 0.125em 0 0;
    font-size: 1em;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
}
.mention-item {
    clear: both;
    text-align: inherit;
    border: 0;
    white-space: pre;
    line-height: 2em !important;
}
.mention-active {
    background-color: #337ab7;
}
.scrollable-menu {
    height: auto;
    overflow: auto;
}
[hidden] {
    display: none;
}

.mention-dropdown {
    bottom: 100%;
    top: auto;
    margin-bottom: 2px;
}
