.mention-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    min-width: 11em;
    padding: 0.5em 0;
    margin: 0.125em 0 0;
    font-size: 1em;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
}
.mention-item {
    padding: 0.2em 1.5em;
    line-height: 1.5em;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
}
.mention-active {
    background-color: #337ab7;
}
.scrollable-menu {
    height: auto;
    max-height: 292px; /* fits 11 items with 14px font-size */
    overflow: auto;
}
[hidden] {
    display: none;
}

.mention-dropdown {
    bottom: 100%;
    top: auto;
    margin-bottom: 2px;
}
