#round_end_reason_container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    text-align: center;
}

#round_end_reason {
    display: table-row;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    border-color: transparent;
    font-size: 5em;
    color: floralwhite;
    z-index: 1000;
    user-select: none; 
}

.rating {
    display: table-row;
    position: absolute;
    top: 70%;
    width: 100%;
    color: #FFD700;
    font-size: 6em !important;
}
