<mat-expansion-panel *ngFor="let questionGroup of questions">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ questionGroup[0] }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let question of questionGroup[1]" [ngSwitch]="question[2]">

        <ng-container *ngSwitchCase="answerType.Text">
            <div class="question-row">
                <mat-form-field color="accent">
                    <textarea matInput
                        [(ngModel)]="answers[question[0]]"
                        (blur)="save()"
                        [readonly]="disabled"
                        [placeholder]="question[1]"></textarea>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="answerType.Number">
            <div class="question-row">
                <mat-form-field color="accent">
                    <input matInput type="number"
                        [(ngModel)]="answers[question[0]]"
                        (blur)="save()"
                        [readonly]="disabled"
                        [placeholder]="question[1]" />
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="answerType.Check">
            <div class="question-row">
                <mat-checkbox labelPosition="before"
                    [(ngModel)]="answers[question[0]]"
                    [indeterminate]="answers[question[0]] == undefined"
                    [disabled]="disabled"
                    (blur)="save()">
                    {{ question[1] | language: settings.Lang }}
                </mat-checkbox>
            </div>
        </ng-container>
    </ng-container>
</mat-expansion-panel>
