.loading-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stat-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bodypart-accordion {
    margin-top: 10px;
}
