<div class="container" *ngIf="showCharCreator" [ngSwitch]="nav">
    <app-body (back)="goToMain()" *ngSwitchCase="charCreatorNav.Body"></app-body>
    <app-clothes (back)="goToMain()" *ngSwitchCase="charCreatorNav.Clothes"></app-clothes>
    <ng-container [ngTemplateOutlet]="mainMenu" *ngSwitchCase="charCreatorNav.Main"></ng-container>
</div>

<ng-template #mainMenu>
    <tds-window [title]="'CharCreator' | language: settings.Lang">
        <mat-action-list>
            <button mat-list-item (click)="goToNav(charCreatorNav.Body)">
                {{ 'Body' | language: settings.Lang }}
            </button>
            <button mat-list-item (click)="goToNav(charCreatorNav.Clothes)">
                {{ 'Clothes' | language: settings.Lang }}
            </button>
            <mat-list-item>
                <button class="close-button" mat-button (click)="cancel()">
                    {{ 'Cancel' | language: settings.Lang }}
                </button>
            </mat-list-item>
        </mat-action-list>
    </tds-window>
</ng-template>
