<tdswindow id="main" hideToolbar="true">
  <div class="mat-table-container">
    <table mat-table [dataSource]="teams" matSort>

      <ng-container matColumnDef="Index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'NumberShort' | language: settings.Lang }}</th>
        <td mat-cell *matCellDef="let i = index">{{ i }}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Name' | language: settings.Lang }}</th>
        <td mat-cell *matCellDef="let element">
          <input matInput
          [(ngModel)]="element[0]"
          [readonly]="element[4]"
          maxLength="25"
          matAutosize
          matTextareaAutosize/>
        </td>
      </ng-container>

      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Color' | language: settings.Lang }}</th>
        <td mat-cell *matCellDef="let element">
          <input matInput [(colorPicker)]="element[1]"
          [style.background]="element[1]"
          [cpOutputFormat]="'rgba'"
          [cpPosition]="'bottom-left'"
          [cpPresetColors]="['rgb(255,255,255)', 'rgb(0,150,0)', 'rgb(150,0,0)']"
          [cpAlphaChannel]="'disabled'"
          [cpPresetLabel]="'PresetLabels' | language: settings.Lang"
          [cpDisabled]="element[4]"
          readonly
          class="colorInput" />
        </td>
      </ng-container>

      <ng-container matColumnDef="BlipColor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'BlipColor' | language: settings.Lang }}</th>
        <td mat-cell *matCellDef="let element">
          <input matInput
          readonly
          [disabled]="element[4]"
          class="colorInput"
          [style.background]="getBlipColorByID(element[2])"
          (click)="toggleBlipColorWindow(element)">
        </td>
      </ng-container>

      <ng-container matColumnDef="SkinHash">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'SkinHash' | language: settings.Lang }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-select [(value)]="element[3]" [disabled]="element[4]">
            <mat-option [value]="0">
              {{ 'PlayerSkin' | language: settings.Lang }}
            </mat-option>
            <mat-option *ngFor="let skin of getPedSkinKeys()" [value]="pedSkins[skin]">
              {{ skin }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>

  <div class="last-row-buttons">
    <button mat-raised-button (click)="addTeam()" [disabled]="!creating">
      {{ 'AddTeam' | language: settings.Lang }}
    </button>
    <button mat-raised-button (click)="removeLastTeam()" [disabled]="!creating">
      {{ 'RemoveTeam' | language: settings.Lang }}
    </button>
    <button mat-raised-button (click)="backButtonClicked()" [disabled]="!isValid() && creating">
      {{ 'Back' | language: settings.Lang }}
    </button>
  </div>
</tdswindow>

<tdswindow id="blip-color-window" *ngIf="showBlipColorWindow">
  <div *ngFor="let blip of blipColors"
  [style.background]="blip.Color"
  [matTooltip]="blip.Info | language: settings.Lang"
  (click)="clickedOnBlipColor(blip)"></div>
</tdswindow>
