#container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .info {
        width: 100%;
        margin-bottom: 10px;
        white-space: pre-wrap;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
            width: 35%;
        }

        .between {
            width: 12%;
            text-align: center;
            margin: auto;

            .add-icon {
                color: lightseagreen;
            }
        }

        .right {
            width: 35%;
        }

        .delete {
            width: 8%;
            text-align: center;
            margin: auto;
        }
    }
}

::ng-deep .mat-figure {
    display: inline !important;
}
