<mat-action-list>
    <mat-list-item>
        <mat-form-field color="accent">
            <mat-label>{{ "Gender" | language: settings.Lang }}</mat-label>
            <mat-select [value]="data[0] ? 'true' : 'false'" (selectionChange)="onGenderChanged($event)">
                <mat-option value="true">
                    {{ "Male" | language: settings.Lang }}
                </mat-option>
                <mat-option value="false">
                    {{ "Female" | language: settings.Lang }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>
    <button mat-list-item (click)="navChanged.emit(charCreatorMenuNav.Heritage)">
        {{ charCreatorMenuNav[charCreatorMenuNav.Heritage] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="navChanged.emit(charCreatorMenuNav.Features)">
        {{ charCreatorMenuNav[charCreatorMenuNav.Features] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="navChanged.emit(charCreatorMenuNav.Appearance)">
        {{ charCreatorMenuNav[charCreatorMenuNav.Appearance] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="navChanged.emit(charCreatorMenuNav.HairAndColors)">
        {{ charCreatorMenuNav[charCreatorMenuNav.HairAndColors] | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="saveClicked.emit()">
        {{ 'Save' | language: settings.Lang }}
    </button>
    <button mat-list-item (click)="cancelClicked.emit()">
        {{ 'Cancel' | language: settings.Lang }}
    </button>
</mat-action-list>
