<h1 mat-dialog-title>{{ 'ChooseAMapFromList' | language: settings.Lang }}</h1>
<div mat-dialog-content>
  <mat-form-field color="accent">
    <mat-label>{{ 'Map' | language: settings.Lang }}</mat-label>
    <mat-select [(value)]="chosenMapId">
      <mat-optgroup *ngFor="let groupData of data" label="{{ groupData[0] | language: settings.Lang }}">
        <mat-option *ngFor="let mapInfo of groupData[1]" [value]="mapInfo[0]">
          {{ mapInfo[1] }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">{{ 'Cancel' | language: settings.Lang }}</button>
  <button mat-raised-button [mat-dialog-close]="chosenMapId" cdkFocusInitial>{{ 'Choose' | language: settings.Lang }}</button>
</div>
