.container {
    position: absolute;
    left: 10px;
    width: calc(100vw - 20px);
    top: 10px;
    height: calc(100vh - 20px - 5vh);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-window {
        flex-grow: 1;
        width: 33%;

        .challenges-container {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            width: 100%;

            .challenge {
                margin-bottom: 20px;

                .date {
                    margin-bottom: 5px;
                    font-size: larger;
                    font-weight: bolder;
                }

                .done {
                    text-decoration: line-through;
                }

                li {
                    margin-bottom: 2px;
                }

                .challenge:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .center-window {
        flex-grow: 2;
        width: 42%;
    }

    .right-window {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;

        tdswindow {
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
            min-height: 20%;

            .announcement {
                margin-bottom: 20px;

                .date {
                    margin-bottom: 5px;
                    font-size: larger;
                    font-weight: bolder;
                }
            }

            .changelog {
                margin-bottom: 20px;

                .date {
                    margin-bottom: 5px;
                    font-size: larger;
                    font-weight: bolder;
                }

                li {
                    margin-bottom: 2px;
                }

                .changelog:last-of-type {
                    margin-bottom: 0;
                }
            }

            .announcement:last-of-type {
                margin-bottom: 0;
            }
        }

        #language-button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            min-height: 80px;

            .language-button {
                width: 80px;
                height: 80px;
                margin-left: 15px;
                background-size: 100% 100% !important;
                border: 0;
            }
        }
    }

    .placeholder {
        width: 10px;
        height: 10px;
        flex-shrink: 0;
    }

    .challenges {
        margin-top: 40vh;
    }

    .lobbies {
        display: flex;
        flex-direction: column-reverse;

        div:not(.placeholder) {
            flex: 1;

            button {
                width: 100%;
                height: 100%;
                background-size: 100% 100% !important;
                margin-bottom: 10px;

                span {
                    font-size: xx-large;
                    font-weight: bolder;
                }
            }

            button:hover:enabled {
                transform: scale(1.1);
                opacity: 1 !important;
                z-index: 0;
            }
        }
    }
}
