.container {
    position: absolute;
    left: 10px;
    width: calc(100vw - 20px);
    top: 10px;
    height: calc(100vh - 20px - 5vh);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-window {
        flex: 1 1 30%;

        &.challenges {
            margin-top: auto;
            max-height: 50vh;

            .challenges-container {
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
                width: 100%;

                .challenge {
                    margin-bottom: 20px;

                    .date {
                        margin-bottom: 5px;
                        font-size: larger;
                        font-weight: bolder;
                    }

                    .done {
                        text-decoration: line-through;
                    }

                    li {
                        margin-bottom: 2px;
                    }

                    .challenge:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.information-container {
            .information-text {
                height: 100%;
                width: 100%;
                white-space: pre-wrap;
            }
        }
    }

    .center-window {
        flex: 2 0 40%;
    }

    .right-window {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        tds-window {
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
            min-height: 20%;

            .announcement {
                margin-bottom: 20px;

                .date {
                    margin-bottom: 5px;
                    font-size: larger;
                    font-weight: bolder;
                }
            }

            .changelog {
                margin-bottom: 20px;

                .date {
                    margin-bottom: 5px;
                    font-size: larger;
                    font-weight: bolder;
                }

                li {
                    margin-bottom: 2px;
                }

                .changelog:last-of-type {
                    margin-bottom: 0;
                }
            }

            .announcement:last-of-type {
                margin-bottom: 0;
            }
        }

        #language-button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            min-height: 80px;

            .language-button {
                width: 80px;
                height: 80px;
                margin-left: 15px;
                background-size: 100% 100% !important;
                border: 0;
            }
        }
    }

    .placeholder {
        width: 5%;
        height: 20px;
        flex-shrink: 0;
    }

    app-register-login {
        margin-top: auto;
        margin-bottom: auto;
        overflow: hidden;
    }

    .lobbies {
        display: flex;
        flex-direction: column-reverse;

        div:not(.placeholder) {
            flex: 1;

            button {
                width: 100%;
                height: 100%;
                background-size: 100% 100% !important;
                margin-bottom: 10px;

                span {
                    font-size: xx-large;
                    font-weight: bolder;
                }
            }

            button:hover:enabled {
                transform: scale(1.1);
                opacity: 1 !important;
                z-index: 0;
            }
        }
    }
}
