<div class="container">
    <ng-container *ngIf="showRegisterLogin">
        <div class="left-window information-container">
            <tds-window
                class="information"
                title="TDS - Team Deathmatch Server"
                [@leftToRight]="animState"
                [canMinimize]="false"
                [contentHeight]="'fit-content'"
                [containerHeight]="'fit-content'"
                [containerMaxHeight]="'100%'"
            >
                <div class="information-text" [innerHTML]="'registerLoginInformation' | language: settings.Lang"></div>
            </tds-window>
        </div>
    </ng-container>

    <tds-window
        *ngIf="!showRegisterLogin"
        class="left-window challenges"
        [title]="'Challenges' | language: settings.Lang"
        [@leftToRight]="animState"
        [canMinimize]="false"
    >
        <div class="challenges-container">
            <div *ngFor="let challengeGroup of settings.ChallengeGroups" class="challenge">
                <div class="date" *ngIf="challengeGroup[0] == challengeFrequency.Weekly">{{ timeToNextWeeklyChallengesRestartInfo }}:</div>
                <div class="date" *ngIf="challengeGroup[0] == challengeFrequency.Forever">{{ 'NoTimeLimit' | language: settings.Lang }}:</div>
                <li *ngFor="let challenge of challengeGroup[1]" [innerHTML]="challenge[99]" [class.done]="challenge[1] == challenge[2]"></li>
            </div>
        </div>
    </tds-window>

    <div class="placeholder"></div>

    <app-register-login *ngIf="showRegisterLogin"></app-register-login>
    <div
        *ngIf="!showRegisterLogin"
        class="center-window lobbies"
        [title]="'Lobbies' | language: settings.Lang"
        [@topToBottom]="animState"
        (@topToBottom.done)="onAnimationEvent($event)"
    >
        <ng-container *ngFor="let button of lobbyChoices; index as i">
            <div>
                <button
                    mat-raised-button
                    class="mat-elevation-z8"
                    [disabled]="settings.UserpanelOpen"
                    (click)="triggerJoinLobby(button.id)"
                    [style.background]="getImageUrl(button.imgUrl)"
                >
                    <span>[{{ i + 1 }}] {{ button.name | language: settings.Lang }}</span>
                </button>
            </div>
            <div class="placeholder"></div>
        </ng-container>
    </div>
    <div class="placeholder"></div>

    <div class="right-window">
        <div id="language-button-container" [@rightToLeft]="animState">
            <button
                mat-icon-button
                class="language-button mat-elevation-z8"
                (click)="setLanguage(7)"
                [style.background]="getImageUrl('assets/german.png')"
            ></button>
            <button
                mat-icon-button
                class="language-button mat-elevation-z8"
                (click)="setLanguage(9)"
                [style.background]="getImageUrl('assets/english.png')"
            ></button>
        </div>

        <div class="placeholder"></div>

        <tds-window
            class="announcements"
            [title]="'Announcements' | language: settings.Lang"
            [@rightToLeft]="animState"
            [canMinimize]="false"
            *ngIf="announcements$ | async as announcements"
        >
            <div *ngFor="let announcement of announcements" class="announcement">
                <div class="date">{{ 'XDaysAgo' | language: settings.Lang:announcement[0] }}:</div>
                <div>{{ announcement[1] }}</div>
            </div>
        </tds-window>

        <div class="placeholder"></div>

        <tds-window
            class="changelogs"
            [title]="'Changelogs' | language: settings.Lang"
            [@rightToLeft]="animState"
            [canMinimize]="false"
            *ngIf="changelogs$ | async as changelogs"
        >
            <div *ngFor="let changelog of changelogs" class="changelog">
                <div class="date">{{ changelog[0] | date: 'fullDate' }}:</div>
                <li *ngFor="let change of changelog[1]">{{ change }}</li>
            </div>
        </tds-window>
    </div>
</div>
