<mat-toolbar *ngIf="router.url !== '/login'">
    <button mat-button>Account</button>
    <button mat-button>Gang</button>
    <button mat-button [matMenuTriggerFor]="admin" *ngIf="globaldata.adminLvl > 0">Admin</button>
    <button mat-button [matMenuTriggerFor]="logs">Logs</button>
    <button mat-button routerLink="/report/user">Report</button>
    <span id="space"></span>
    <button mat-button (click)="logout()">Logout</button>

    <mat-menu #admin="matMenu">
        <button mat-menu-item routerLink="/report/admin">Reports</button>
    </mat-menu>

    <mat-menu #logs="matMenu">
        <button mat-menu-item routerLink="/logs/admin">Admin</button>
        <!--<button mat-menu-item [routerLink]="['logs', 'report']">Report</button>-->
        <button mat-menu-item routerLink="/logs/rest">Rest</button>
    </mat-menu>
</mat-toolbar>
