<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="grandtheftmultiplayer.api" version="0.1.513.481" targetFramework="net461" />
  <package id="grandtheftmultiplayer.typescript" version="0.1.12" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net461" />
  <package id="NLog" version="4.4.11" targetFramework="net461" />
</packages>