<!-- If there is no *ngIf it's handled in the component itself -->

<app-chat></app-chat>
<app-mapvoting></app-mapvoting>
<app-invitation></app-invitation>
<app-teamorders *ngIf="settings.InTeamOrderModus && settings.InFightLobby" [@teamOrdersAnimation]="getTeamOrdersLength()"></app-teamorders>
<app-map-creator *ngIf="showMapCreator"></app-map-creator>
<app-freeroam *ngIf="showFreeroam"></app-freeroam>
<app-lobby-choice *ngIf="showLobbyChoice"></app-lobby-choice>
<app-team-choice *ngIf="showTeamChoice"></app-team-choice>
<app-userpanel *ngIf="settings.UserpanelOpened"></app-userpanel>
<app-ranking *ngIf="showRankings" [rankings]="rankings"></app-ranking>
<app-hud *ngIf="showHUD"></app-hud>
