#round-stats-1 {
    position: absolute;
    top: 159px;
    right: 15px;
    width: 320px;
    height: 50px;

    background-color: rgba(20, 20, 20, 0.55);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    user-select: none;

    > div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        align-items: center;
    }

    span {
        font-size: large;
        font-weight: bold;
    }

    img {
        width: 25px;
        height: 25px;
    }
}

.kills-icon {
    background: "url(/assets/round-stats/kills.png) no-repeat";
}

.assists-icon {
    background: "url(/assets/round-stats/assists.png) no-repeat";
}

.damage-icon {
    background: "url(/assets/round-stats/damage.png) no-repeat";
}
