#container {
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    right: 0;
}

mat-sidenav {
    min-width: 18%;
    display: flex;
    flex-direction: column;
}

mat-sidenav-container {
    flex: 1 1 auto;
}

mat-sidenav-content {
    left: 0;
    bottom: 0;
}

#content_place {
    height: 90%;
    overflow-y: auto;
}

#send_row {
    width: 95%;
    margin-left: 2.5%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    white-space: nowrap;
}

#chat_input {
    width: 100%;
}

#tab_opener {
    position: relative;
    color: var(--text-color);
    margin-top: auto;
    margin-left: auto;
}


#all {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#navigator {
    display: table-row;
}

#body {
    display: table-row;
    top: 0;
    flex-grow: 1;
}

#playeronline {
    position: absolute;
    bottom: 0;
    height: auto;
    width: auto;
}

