@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../font/Roboto-Thin.ttf);
}

#chat_container {
    float: left;
    position: absolute;
    max-width: 35vw;
    height: auto;
}

#chat_div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-height: 35vh;
    font-family: Roboto, Arial;
    user-select: none;
}

#chat_div *::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

.chat-body {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 10px;
    font-size: 1.4em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    white-space: pre-line;
}

#dirty-chat-body {
    display: none;
}

.chat-body text {
    float: left;
    clear: both;
    white-space: pre-line;
    min-height: 20px;
    top: 0px;
    line-height: 1.1em;
    user-select: none;
}

#main-input {
    float: left;
    background-color: transparent;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: none;
    width: 35vw;
    margin-top: 1vh;
    font-size: 1.2em;
    display: none;
}

#chat_choice {
    width: 35vw;
    text-align: center;
    font-size: 0.9em;
    color: white;
    margin-top: 1vh;
    overflow: hidden;
    flex-shrink: 0;
}

#chat_choice div {
    float: left;
    background-color: darkgrey;
    width: 10%;
    position: relative;
    transition: background 0.8s linear;
    height: 5%;
}