@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf)
}

@font-face {
    font-family: RobotoThin;
    src: url(../font/Roboto-Thin.ttf)
}

#chat_div {
    position: relative;
    font-family: Roboto,Arial
}

    #chat_div ::-webkit-scrollbar {
        width: 0;
        background: 0 0
    }

.chat-body {
    overflow-y: scroll;
    left: 5px;
    max-width: 35vw;
    max-height: 35vh;
    padding-left: 5px;
    font-size: 1.4em;
    color: #fff;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    white-space: pre-line
}

#dirty-chat-body {
    display: none
}

.chat-body text {
    float: left;
    clear: both;
    white-space: pre-line;
    position: relative;
    min-height: 20px;
    top: 0;
    line-height: 1.1em
}

#main-input {
    float: left;
    background-color: transparent;
    color: #fff;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    border: none;
    width: 35vw;
    margin-top: 1vh;
    font-size: 1.2em;
    display: none
}

#chat_choice {
    width: 35vw;
    text-align: center;
    font-size: .9em;
    color: #fff;
    margin-top: 1vh;
    overflow: hidden
}

    #chat_choice div {
        float: left;
        background-color: #a9a9a9;
        width: 10%;
        position: relative;
        transition: background .8s linear;
        height: 5%
    }

#bloodscreen {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

@keyframes BloodscreenAnim {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        display: none
    }
}

.bloodscreen_hide {
    opacity: .2
}

#kill_messages_box {
    position: absolute;
    text-align: right;
    right: .5%;
    color: #fff;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    top: 35%;
    font-size: 1.3em
}

text {
    position: relative
}

#orders {
    display: none;
    position: absolute;
    text-align: right;
    right: .5%;
    color: #fff;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    top: 60%;
    font-size: 1.3em
}

:root {
    --primary-color: #04074e;
    --secondary-color: #181818
}

#mapmenu {
    overflow: hidden;
    position: absolute;
    left: 35%;
    top: 25%;
    min-width: 30%;
    height: 50%;
    display: none
}

#mapvoting {
    position: absolute;
    text-align: right;
    right: .5%;
    color: #fff;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    top: 60%;
    font-size: 1.3em
}

.mapvoting_selected {
    font-size: 1.4em;
    text-shadow: -1px -1px 0 #005700,1px -1px 0 #005700,-1px 1px 0 #005700,1px 1px 0 #005700
}

.tab {
    position: relative;
    width: 98%;
    height: 100%;
    float: left
}

.tab_list {
    margin-top: 1%;
    width: 45%;
    direction: rtl;
    overflow-y: auto
}

.ui-selected {
    background: var(--primary-color)
}

.ui-selectee {
    direction: ltr;
    margin: 0 8px 0 0;
    width: 100%
}

    .ui-selectee:hover {
        background: #111
    }

#rightside {
    position: absolute;
    width: 45%;
    left: 55%;
    top: 12%;
    height: 88%
}

#map_info {
    pointer-events: none;
    float: none;
    position: relative;
    width: 100%;
    height: 80%;
    color: #fff;
    font-size: .9em;
    word-wrap: break-word;
    display: none
}

#add_map_to_favourites {
    float: right;
    background: url(../pic/heart.png) center center/95% 95% no-repeat;
    border: none;
    position: relative;
    width: 12%;
    height: 5%;
    right: 2%;
    display: none
}

.add_map_to_favourites_notselected {
    opacity: .5
}

    .add_map_to_favourites_notselected:hover {
        background-size: 105% 105%;
        opacity: 1
    }

.add_map_to_favourites_selected {
    opacity: 1
}

    .add_map_to_favourites_selected:hover {
        background-size: 105% 105%;
        opacity: .7
    }

#choose_map_button {
    position: absolute;
    width: 36%;
    left: 31%;
    bottom: 5%;
    height: 11%;
    font-size: 1em;
    padding: 0;
    display: none
}

button {
    border: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .05em;
    color: #fff;
    transition: .5s;
    text-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1)
}

.button-available {
    background: linear-gradient(to bottom,#008a00 1%,#005700 65%,#002400 100%)
}

    .button-available:focus, .button-available:hover {
        background: linear-gradient(to bottom,#00b709 0,#007f04 65%,#014900 100%)
    }

#round_end_reason_container {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    text-align: center
}

#round_end_reason {
    display: table-row;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    border-color: transparent;
    vertical-align: middle;
    font-size: 5em;
    color: #fff;
    z-index: 1000
}

#map_rating_stars {
    vertical-align: middle;
    position: absolute;
    left: 40%;
    width: 20%;
    top: 70%;
    color: gold;
    font-size: 5em
}