<div ngDraggable [handle]="toolbar" class="window" *ngIf="opened">
    <div #toolbar>
        <mat-toolbar class="custom-background">
            <button id="menu_button" mat-icon-button (click)="sidenav.toggle();"><mat-icon>menu</mat-icon></button>
            <span class="not-selectable">{{ language[openedMenu] }}</span>
            <button id="close_button" mat-icon-button (click)="close();"><mat-icon>close</mat-icon></button>
        </mat-toolbar>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened=true>
            <mat-nav-list>
                <a mat-list-item (click)="changeMenu(i);" *ngFor="let menuentry of menus; let i = index;">
                    {{ language[menuentry] }}
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-template appUserpanelContent></ng-template>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>