<div id="container">
    <ng-container *ngIf="inOfflineMessage == undefined && !creatingOfflineMessage">
        <div class="mat-table-container">
            <table mat-table [dataSource]="userpanelService.offlineMessages" matSort>
                <ng-container matColumnDef="PlayerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Name' | language: settings.Lang }}</th>
                    <td mat-cell *matCellDef="let element">{{ element[1] | slice:0:20 }}{{ element[1].length > 20 ? '...' : '' }}</td>
                </ng-container>

                <ng-container matColumnDef="Text">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Text' | language: settings.Lang }}</th>
                    <td mat-cell *matCellDef="let element">{{ element[3] | slice:0:30 }}{{ element[3].length > 30 ? '...' : '' }}</td>
                </ng-container>

                <ng-container matColumnDef="CreateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Created' | language: settings.Lang }}</th>
                    <td mat-cell *matCellDef="let element">{{ element[2] }}</td>
                </ng-container>

                <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="delete(element[0])">
                            <mat-icon color="accent">delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="selectRow(row)"
                [class.border]="!row.Seen"
                [class.mat-app-background]="clickedOfflineMessage == row.ID"></tr>

            </table>
        </div>
        <div class="last-row-buttons">
            <button mat-raised-button (click)="open()" [disabled]="clickedOfflineMessage == undefined">
                {{ 'Open' | language: settings.Lang }}
            </button>
            <button mat-raised-button (click)="createNew()">
                {{ 'Create' | language: settings.Lang }}
            </button>
        </div>
    </ng-container>

    <form *ngIf="inOfflineMessage != undefined" (submit)="answer()" [formGroup]="offlineMessageFormGroup">
        <div class="left-side">
            <mat-form-field color="accent" >
                <mat-label>{{ 'Message' | language: settings.Lang }}</mat-label>
                <textarea matInput
                [value]="inOfflineMessage[3]"
                rows="8">
                </textarea>
            </mat-form-field>
            <mat-form-field color="accent" >
                <mat-label>{{ 'Answer' | language: settings.Lang }}</mat-label>
                <textarea matInput
                formControlName="message"
                rows="3">
                </textarea>
            </mat-form-field>
        </div>
        <div class="right-side">
            <div class="right-side-content">
                <mat-form-field color="accent" >
                    <input matInput disabled [placeholder]="'ID' | language: settings.Lang"  [value]="inOfflineMessage[0]"/>
                </mat-form-field>
                <mat-form-field color="accent" >
                    <textarea matInput disabled
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    [placeholder]="'Player' | language: settings.Lang"
                    [value]="inOfflineMessage[1]">
                    </textarea>
                </mat-form-field>
                <mat-form-field color="accent" >
                    <textarea matInput disabled
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    [placeholder]="'Created' | language: settings.Lang"
                    [value]="inOfflineMessage[2]">
                    </textarea>
                </mat-form-field>
            </div>
            <div class="last-row-buttons">
                <button mat-raised-button (click)="answer()" [disabled]="offlineMessageFormGroup.invalid">
                    {{ 'ToAnswer' | language: settings.Lang }}
                </button>
                <button mat-raised-button (click)="backNav()">
                    {{ 'Back' | language: settings.Lang }}
                </button>
            </div>
        </div>
    </form>

    <form *ngIf="creatingOfflineMessage" (ngSubmit)="sendMessage()" [formGroup]="offlineMessageFormGroup">
        <div class="left-side">
            <mat-form-field color="accent" >
                <mat-label>{{ 'Message' | language: settings.Lang }}</mat-label>
                <textarea matInput
                formControlName="message"
                rows="10">
                </textarea>
            </mat-form-field>
        </div>
        <div class="right-side">
            <div class="right-side-content">
                <mat-form-field color="accent" >
                    <input matInput disabled [placeholder]="'target' | language: settings.Lang" formControlName="playerName"/>
                </mat-form-field>
            </div>
            <div class="last-row-buttons">
                <button mat-raised-button (click)="answer()" [disabled]="offlineMessageFormGroup.invalid">
                    {{ 'Send' | language: settings.Lang }}
                </button>
                <button mat-raised-button (click)="backNav()">
                    {{ 'Back' | language: settings.Lang }}
                </button>
            </div>
        </div>
    </form>
</div>

